n8n_flows/DocPrepMain.json
{
  "name": "DocPrepMain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docprep-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4992,
        -152
      ],
      "id": "9a112f72-a119-42ed-b248-07e7ddb80c85",
      "name": "DocPrepMain Webhook",
      "webhookId": "3be242b1-3628-4384-b151-cc43d91e3147"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docupload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "source_path",
              "value": "={{ $json.body.source_path || \"\"}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4768,
        -152
      ],
      "id": "9c334912-c1a9-4244-828c-6c7d01cc72d5",
      "name": "DocUpload Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docmeta",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $json.upload.destPath }}\",\n  \"saved_name\": \"{{ $json.upload.saveName }}\",\n  \"original\": \"{{ $json.upload.originalName }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        -152
      ],
      "id": "ec45eaab-369c-45f1-8c31-76739f55716c",
      "name": "DocMeta Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29e689da-0683-4e2e-8788-74032426969d",
              "name": "meta.filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "b3675d60-abef-4dde-9cf8-50ead21407de",
              "name": "meta.extension",
              "value": "={{ $json.body.extension }}",
              "type": "string"
            },
            {
              "id": "8a8113b2-1a64-49ce-8f67-911655a446e6",
              "name": "meta.mime",
              "value": "={{ $json.body.mime }}",
              "type": "string"
            },
            {
              "id": "9a3a28d5-f06f-4871-885b-a002367297d8",
              "name": "meta.size_bytes",
              "value": "={{ $json.body.size_bytes }}",
              "type": "string"
            },
            {
              "id": "9d33c43b-151f-4408-80e8-26364fa5b9fc",
              "name": "meta.created_at",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "4cfcb8ac-d7db-44dd-add7-fafe85117096",
              "name": "meta.meta_status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "2436d2d6-635a-4937-bd11-4d569bd67697",
              "name": "meta.exif",
              "value": "={{ $json.body.exif }}",
              "type": "string"
            },
            {
              "id": "70772422-62bf-49ad-9f6d-065f1e1937e3",
              "name": "meta.pdf_pages",
              "value": "={{ $json.body.pdf_pages }}",
              "type": "string"
            },
            {
              "id": "121a1754-f28c-4f0e-b9ab-d7f0af5acb34",
              "name": "meta.full_text",
              "value": "={{ $json.body.extracted_text }}",
              "type": "string"
            },
            {
              "id": "b665281c-3eab-45ae-94c1-eaf8658df2d2",
              "name": "meta.pdf_text_ratio",
              "value": "={{ $json.body.pdf_text_ratio }}",
              "type": "string"
            },
            {
              "id": "1b3b9c59-c87f-4309-aeeb-888753b899ad",
              "name": "meta.summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "4894fbbb-933d-498d-84c8-c5fb9857dd94",
              "name": "meta.length",
              "value": "={{ $json.body.length }}",
              "type": "number"
            },
            {
              "id": "e0ad1cbc-8351-4689-bfcf-371f644ef56d",
              "name": "meta.truncated",
              "value": "={{ $json.body.truncated }}",
              "type": "boolean"
            },
            {
              "id": "dbc183dd-ac7c-4628-b2a2-38b4a0e5ed5f",
              "name": "_id",
              "value": "={{ $('Save File Info').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3424,
        -104
      ],
      "id": "d12f2716-9610-429f-b7cc-43153eab17ff",
      "name": "Merge DocMeta for Update"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2976,
        -32
      ],
      "id": "0a199d36-f884-483a-be4e-e399a670b809",
      "name": "Update Meta in MongoDB",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ocr\": {\n    \"status\":\"{{ $('Set Queue for OCR').item.json.ocr.status }}\",\n    \"queued_at\":\"{{ $('Set Queue for OCR').item.json.ocr.queued_at }}\"\n  }\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1184,
        64
      ],
      "id": "7c1db643-d83b-44eb-8e59-2255a3d6e3ec",
      "name": "Respond to DocPrepMain Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a53243ec-ecd3-4383-ad73-6ecd207c86d3",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "=application/postscript",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f79bd3a4-60a8-48d0-81d0-fcf32e795c8a",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/zip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cf903bfe-13b8-4317-a3c4-fbe8177a9076",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/octet-stream",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2528,
        64
      ],
      "id": "d5602ea5-6490-4dd4-9c31-deb3e1781fd0",
      "name": "Unsupported MIME Type?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d9e79700-4b9e-4fbb-a930-598766a68225",
              "name": "status",
              "value": 415,
              "type": "number"
            },
            {
              "id": "3fd5e282-9538-414b-aa71-4a1f29133dbc",
              "name": "userMessage",
              "value": "❌ OCR 생략: 지원하지 않는 문서 형식입니다.",
              "type": "string"
            },
            {
              "id": "2f4218c2-6348-49c2-9d47-332b2bcd0ac3",
              "name": "mime",
              "value": "={{ $json.meta.mime }}",
              "type": "string"
            },
            {
              "id": "b5391c79-218e-4297-a52f-02a37363e3f0",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            },
            {
              "id": "f95fca2b-52be-450e-8d3e-56ed45b4729b",
              "name": "ocr.warn",
              "value": "Skipped OCR due to unsupported MIME type",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        -128
      ],
      "id": "73840631-8992-4e3b-9fd1-318958161132",
      "name": "Set Unsupported MIME Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] {{ $json.ocr.warn }}: {{$json.filename}} ({{$json.mime}})\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1856,
        -128
      ],
      "id": "a9e035fa-4376-4e4e-825b-9631cf9f2762",
      "name": "Log Unsupported MIME Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 415
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1632,
        -128
      ],
      "id": "7dcd9536-9125-41b5-8477-cf897ee41574",
      "name": "Respond Unsupported MIME Warning"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2080,
        -128
      ],
      "id": "bca91416-a900-4b4b-a2af-9effed914424",
      "name": "Update Unsupported MIME Warning in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "=redis-cli XADD ocr_stream \"*\" \\\n  file_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  file_path \"{{ $('DocUpload Request').item.json.body.path }}\" \\\n  doc_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  queued_at \"{{ $json.queued_at }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1856,
        64
      ],
      "id": "4e6c9f21-5a27-4a57-800d-602ca74d1cde",
      "name": "Enqueue OCR Request (Redis XADD)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97168b8b-81f6-40f5-bd26-d920e38e0756",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "text/plain",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2752,
        -32
      ],
      "id": "b72257ac-75e5-4fd0-8afc-0bf354893269",
      "name": "text/plain?"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('DocUpload Request').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2528,
        -320
      ],
      "id": "38ff1f0f-fed8-4f61-838e-3cf85466cb18",
      "name": "Read Plain/Text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc431eb0-3de3-48d1-a5ee-adf95fe9b654",
              "name": "text.full_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3de6de1c-013d-45c2-8652-23a9432155a3",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        -320
      ],
      "id": "b56b59b3-4ee6-46f6-8edf-b26579c8a752",
      "name": "Set Text"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2304,
        -320
      ],
      "id": "8147bb12-2e0c-4c32-b03a-31668e4e0105",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1856,
        -320
      ],
      "id": "b9ecc890-2d41-4df2-9288-d7730275885b",
      "name": "Update Text in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"exitCode\":0,\n  \"stderr\":\"\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1632,
        -320
      ],
      "id": "b6a081b4-b100-46d6-8ef1-16494a56176e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "={{ $json._id }}",
        "fields": "ocr",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1408,
        64
      ],
      "id": "ab21f30e-ebe0-467d-bc8e-3182b49a45bd",
      "name": "Update OCR Queue in MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e2c218b-d876-4183-9ede-1fffe81f78d9",
              "name": "ocr.status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "a5412c65-91cd-4bd0-972a-eecac4b47487",
              "name": "ocr.queued_at",
              "value": "={{ $('Queue Time Stamp').item.json.queued_at }}",
              "type": "string"
            },
            {
              "id": "5aff779a-1dad-499f-9e00-34bdf53f74df",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        64
      ],
      "id": "daa19bef-fc2d-4a99-be8b-6213b497f8dc",
      "name": "Set Queue for OCR"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=error",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -3200,
        -320
      ],
      "id": "c604b047-59a4-4ed7-b4ae-61198a7a6316",
      "name": "Insert Error Message in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2976,
        -320
      ],
      "id": "41edbee9-80be-46fc-ad3b-bf0b63923024",
      "name": "Upload Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e46584dd-32a4-4919-bc3a-158517378d42",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4544,
        -152
      ],
      "id": "552da171-1313-418b-bcd6-8928df05a98e",
      "name": "DocUpload Failed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c3bd1a0-e26b-4886-8147-8018a25b6c4b",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3648,
        -152
      ],
      "id": "a84391c5-ee61-4a02-8da7-aafae20dcfab",
      "name": "DocMeta Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "error.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "error.statusMessage",
              "value": "={{ $json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "984ddb0c-b9ea-4ee3-84f8-d258a49a11bc",
              "name": "error.body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3424,
        -320
      ],
      "id": "309c8a51-cebc-4092-8235-c5c9ec0157cf",
      "name": "Set Error Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fdd4a23-d873-4efc-b11a-511d9bfeb80f",
              "name": "queued_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        64
      ],
      "id": "eb5a3301-7337-4f8e-8644-69cce03e117d",
      "name": "Queue Time Stamp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bab8c50-d883-465a-b08d-ce59c2de8ad8",
              "leftValue": "={{$json.meta.full_text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2304,
        160
      ],
      "id": "d8b4d4a2-9a84-415a-b3bd-a1b5a1bde0f4",
      "name": "empty full_text?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2080,
        256
      ],
      "id": "423d41f0-a97b-4f21-a360-4245534268ae",
      "name": "Respond Done"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=upload",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -4096,
        -80
      ],
      "id": "79e0c5e2-3483-4bac-94b5-ef88e6a0bd32",
      "name": "Save File Info",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "898e43ac-5e25-426f-acb0-42d3f3ee515d",
              "name": "=upload.originalName",
              "value": "={{ $json.body.original }}",
              "type": "string"
            },
            {
              "id": "fdb8c3db-ef68-4d2a-aecb-2182b174d95a",
              "name": "upload.saveName",
              "value": "={{ $json.body.saved_name }}",
              "type": "string"
            },
            {
              "id": "eae64e30-603d-47a4-aed8-299b9e3bdc9f",
              "name": "upload.destPath",
              "value": "={{ $json.body.path }}",
              "type": "string"
            },
            {
              "id": "88a07c8b-7ce0-461c-9f89-c3a3746fe405",
              "name": "upload.uploaded_at",
              "value": "={{ $now.format('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSxxx') }}",
              "type": "string"
            },
            {
              "id": "84520425-5b99-4efc-abb4-d8394feb6852",
              "name": "upload.sourcePath",
              "value": "={{ $json.body.sourcePath }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        -80
      ],
      "id": "4b35d949-4e09-40ca-a826-57516b2d5de7",
      "name": "Upload File Info"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3200,
        -32
      ],
      "id": "79b54aa2-ee42-4088-87c4-c7fae046a532",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "DocPrepMain Webhook": {
      "main": [
        [
          {
            "node": "DocUpload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Request": {
      "main": [
        [
          {
            "node": "DocUpload Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Request": {
      "main": [
        [
          {
            "node": "DocMeta Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DocMeta for Update": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meta in MongoDB": {
      "main": [
        [
          {
            "node": "text/plain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported MIME Type?": {
      "main": [
        [
          {
            "node": "Set Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empty full_text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Update Unsupported MIME Warning in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Respond Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unsupported MIME Warning in MongoDB": {
      "main": [
        [
          {
            "node": "Log Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue OCR Request (Redis XADD)": {
      "main": [
        [
          {
            "node": "Set Queue for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text/plain?": {
      "main": [
        [
          {
            "node": "Read Plain/Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported MIME Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Plain/Text": {
      "main": [
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Update Text in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Text in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Queue in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to DocPrepMain Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queue for OCR": {
      "main": [
        [
          {
            "node": "Update OCR Queue in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Message in MongoDB": {
      "main": [
        [
          {
            "node": "Upload Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge DocMeta for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Insert Error Message in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Time Stamp": {
      "main": [
        [
          {
            "node": "Enqueue OCR Request (Redis XADD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empty full_text?": {
      "main": [
        [
          {
            "node": "Queue Time Stamp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File Info": {
      "main": [
        [
          {
            "node": "Save File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Info": {
      "main": [
        [
          {
            "node": "DocMeta Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload Error Message": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Meta in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "f59ca042-0d88-4712-b34b-da953130be75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "4J8PGGXFdPWtFaIH",
  "tags": []
}