n8n_flows/DocPrepMain.json
{
  "name": "DocPrepMain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docprep-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1696,
        120
      ],
      "id": "c7f54cc2-934b-4c2d-b89f-a409b1600776",
      "name": "DocPrepMain Webhook",
      "webhookId": "3be242b1-3628-4384-b151-cc43d91e3147"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docupload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "source_path",
              "value": "={{ $json.body.source_path || \"\"}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1472,
        120
      ],
      "id": "5ff8a944-bc12-4e26-89dd-52d44d67f36b",
      "name": "DocUpload Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docmeta",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $json.body.path }}\",\n  \"saved_name\": \"{{ $json.body.saved_name }}\",\n  \"original\": \"{{ $json.body.original }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        192
      ],
      "id": "1876f800-405d-4075-a0c6-545c6810ee7b",
      "name": "DocMeta Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"_id\": \"{{ $('DocUpload Failed?').item.json.body._id }}\",\n  \"meta\": {\n    \"filename\": \"{{ $json.body.filename }}\",\n    \"extension\": \"{{ $json.body.extension }}\",\n    \"mime\": \"{{ $json.body.mime }}\",\n    \"size_bytes\": {{ $json.body.size_bytes }},\n    \"created_at\": \"{{ $json.body.created_at }}\",\n    \"meta_status\": \"{{ $json.body.status }}\",\n    \"exif\": {{ $json.body.exif || {} }},\n    \"pdf_pages\": {{ $json.body.pdf_pages || 0 }},\n    \"pdf_text_ratio\": {{ $json.body.pdf_text_ratio || 0 }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        240
      ],
      "id": "6502338d-410f-463e-824f-0bb1bff5fead",
      "name": "Merge DocMeta for Update"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -352,
        240
      ],
      "id": "4f807857-decd-4382-b6df-b9113a9c6f44",
      "name": "Update Meta in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9217ebc2-05be-4a33-82ae-174951a59420",
              "leftValue": "={{ $json.meta.pdf_pages }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        432
      ],
      "id": "3db3c97b-625e-44ad-a54d-ddcda2698389",
      "name": "Over PDF Page Limit?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        528
      ],
      "id": "32eff39f-3c16-4548-aa97-58d47b827afc",
      "name": "Respond to DocPrepMain Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2de5fe4f-7ef7-4bdf-aba1-ff4bd1f4d606",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e5177902-811d-4607-9d5a-0937da47a41e",
              "name": "status",
              "value": 207,
              "type": "number"
            },
            {
              "id": "30f1814b-a01b-4a22-bd6d-478c7e4791cf",
              "name": "userMessage",
              "value": "⚠️ OCR 생략: 문서 페이지 수 초과",
              "type": "string"
            },
            {
              "id": "ca3ff755-0855-4d02-9fb2-35e729863467",
              "name": "pages",
              "value": "={{ $json.meta.pdf_pages }}",
              "type": "number"
            },
            {
              "id": "85e16480-1d99-4de7-b500-a422ce31b43b",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            },
            {
              "id": "5667ce45-6f22-463e-b7c4-8e647187f23b",
              "name": "ocr.warn",
              "value": "=Skipped OCR due to excessive number of pages, {{ $json.meta.pdf_pages }}>30",
              "type": "string"
            },
            {
              "id": "f74f0f28-b11c-495e-a66c-8980a4eff7d9",
              "name": "=_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        336
      ],
      "id": "b9552746-e43e-4e53-958a-9626f5c188e6",
      "name": "Set PDF Limit Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] Skipped OCR due to page limit: {{$json.filename}} ({{$json.pages}} pages)\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        336
      ],
      "id": "5ef53f95-dfa3-4ed0-a1b5-bda3167838a9",
      "name": "Log PDF Limit Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 207
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        336
      ],
      "id": "a0007cdf-9918-48eb-bff3-76f865f520d3",
      "name": "Respond PDF Page Limit Warning"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a53243ec-ecd3-4383-ad73-6ecd207c86d3",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "=application/postscript",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f79bd3a4-60a8-48d0-81d0-fcf32e795c8a",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/zip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cf903bfe-13b8-4317-a3c4-fbe8177a9076",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/octet-stream",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        336
      ],
      "id": "75b11d3f-fb43-4e82-8d19-a42d991a8143",
      "name": "Unsupported MIME Type?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d9e79700-4b9e-4fbb-a930-598766a68225",
              "name": "status",
              "value": 415,
              "type": "number"
            },
            {
              "id": "3fd5e282-9538-414b-aa71-4a1f29133dbc",
              "name": "userMessage",
              "value": "❌ OCR 생략: 지원하지 않는 문서 형식입니다.",
              "type": "string"
            },
            {
              "id": "2f4218c2-6348-49c2-9d47-332b2bcd0ac3",
              "name": "mime",
              "value": "={{ $json.meta.mime }}",
              "type": "string"
            },
            {
              "id": "b5391c79-218e-4297-a52f-02a37363e3f0",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            },
            {
              "id": "f95fca2b-52be-450e-8d3e-56ed45b4729b",
              "name": "ocr.warn",
              "value": "Skipped OCR due to unsupported MIME type",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        144
      ],
      "id": "8125811e-c5b0-4307-9ac3-909b4f6ccdde",
      "name": "Set Unsupported MIME Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] {{ $json.ocr.warn }}: {{$json.filename}} ({{$json.mime}})\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        768,
        144
      ],
      "id": "0f060096-fe31-46d5-b452-da98b4585a0d",
      "name": "Log Unsupported MIME Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 415
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        144
      ],
      "id": "77cc737c-e3c7-423b-9419-f13cd9ba3646",
      "name": "Respond Unsupported MIME Warning"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        544,
        144
      ],
      "id": "009f0085-b286-49d2-ad69-84425fe649f2",
      "name": "Update Unsupported MIME Warning in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "=redis-cli XADD ocr_stream \"*\" \\\n  file_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  file_path \"{{ $('DocUpload Request').item.json.body.path }}\" \\\n  doc_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  created_at \"{{ $now }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        528
      ],
      "id": "6efde303-b398-4be5-9806-a488a5a44adf",
      "name": "Enqueue OCR Request (Redis XADD)"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        768,
        336
      ],
      "id": "07846057-bbe9-4440-9358-1cac0a2d557b",
      "name": "Update PDF Page Limit Warning in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97168b8b-81f6-40f5-bd26-d920e38e0756",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "text/plain",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        240
      ],
      "id": "816326f6-9e00-4e90-a39a-7e392b3b83d7",
      "name": "text/plain?"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('DocUpload Request').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        96,
        -48
      ],
      "id": "37ffc5ea-ce21-45ea-b059-07e467d24557",
      "name": "Read Plain/Text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc431eb0-3de3-48d1-a5ee-adf95fe9b654",
              "name": "text.full_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3de6de1c-013d-45c2-8652-23a9432155a3",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -48
      ],
      "id": "77c94082-f047-4764-bdf4-bc0cdd443ea2",
      "name": "Set Text"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        320,
        -48
      ],
      "id": "56863e82-99bb-411b-bd8a-88cdaaed2171",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        768,
        -48
      ],
      "id": "78e78d21-18d6-4876-a745-c11927438dbe",
      "name": "Update Text in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"exitCode\":0,\n  \"stderr\":\"\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        -48
      ],
      "id": "a041e07c-d267-4633-9411-47522467fab2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        768,
        528
      ],
      "id": "d10fb168-37d2-46c8-91f2-0bb5ad98baee",
      "name": "Update OCR Queue in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e2c218b-d876-4183-9ede-1fffe81f78d9",
              "name": "ocr.queue",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a5412c65-91cd-4bd0-972a-eecac4b47487",
              "name": "ocr.queue_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "5aff779a-1dad-499f-9e00-34bdf53f74df",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        528
      ],
      "id": "c385bb52-db31-4cc6-8f76-03fd1768c19b",
      "name": "Set Queue for OCR"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=error",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -352,
        24
      ],
      "id": "f39891a1-acc2-48d4-bf45-6ad50905472c",
      "name": "Insert Error Message in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        24
      ],
      "id": "38216ec8-0d5e-40e1-a43f-04579406d371",
      "name": "Upload Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e46584dd-32a4-4919-bc3a-158517378d42",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        120
      ],
      "id": "b55ae395-05dd-4e47-a6e7-265eacd02094",
      "name": "DocUpload Failed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c3bd1a0-e26b-4886-8147-8018a25b6c4b",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        192
      ],
      "id": "972f03f9-3f57-4ade-a27e-29dc96bfca20",
      "name": "DocMeta Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "error.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "error.statusMessage",
              "value": "={{ $json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "984ddb0c-b9ea-4ee3-84f8-d258a49a11bc",
              "name": "error.body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        24
      ],
      "id": "50bae563-89f8-4473-8f8e-b57d3560eace",
      "name": "Set Error Message"
    }
  ],
  "pinData": {},
  "connections": {
    "DocPrepMain Webhook": {
      "main": [
        [
          {
            "node": "DocUpload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Request": {
      "main": [
        [
          {
            "node": "DocUpload Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Request": {
      "main": [
        [
          {
            "node": "DocMeta Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DocMeta for Update": {
      "main": [
        [
          {
            "node": "Update Meta in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meta in MongoDB": {
      "main": [
        [
          {
            "node": "text/plain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Over PDF Page Limit?": {
      "main": [
        [
          {
            "node": "Set PDF Limit Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Queue for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Limit Warning": {
      "main": [
        [
          {
            "node": "Update PDF Page Limit Warning in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log PDF Limit Warning": {
      "main": [
        [
          {
            "node": "Respond PDF Page Limit Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported MIME Type?": {
      "main": [
        [
          {
            "node": "Set Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Over PDF Page Limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Update Unsupported MIME Warning in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Respond Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unsupported MIME Warning in MongoDB": {
      "main": [
        [
          {
            "node": "Log Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue OCR Request (Redis XADD)": {
      "main": [
        [
          {
            "node": "Respond to DocPrepMain Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PDF Page Limit Warning in MongoDB": {
      "main": [
        [
          {
            "node": "Log PDF Limit Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text/plain?": {
      "main": [
        [
          {
            "node": "Read Plain/Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported MIME Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Plain/Text": {
      "main": [
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Update Text in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Text in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Queue in MongoDB": {
      "main": [
        [
          {
            "node": "Enqueue OCR Request (Redis XADD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queue for OCR": {
      "main": [
        [
          {
            "node": "Update OCR Queue in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Message in MongoDB": {
      "main": [
        [
          {
            "node": "Upload Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DocMeta Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge DocMeta for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Insert Error Message in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "99528ff9-5812-4196-805c-dc281feda83d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "4J8PGGXFdPWtFaIH",
  "tags": []
}