n8n_flows/DocPrepMain.json
{
  "name": "DocPrepMain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docprep-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        128
      ],
      "id": "e29e01fc-76ee-4105-9242-75103a993ff0",
      "name": "DocPrepMain Webhook",
      "webhookId": "3be242b1-3628-4384-b151-cc43d91e3147"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docupload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        128
      ],
      "id": "dff9dc5f-cad0-4927-bad8-4c598ebb7999",
      "name": "DocUpload Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docmeta",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{$json.path}}\",\n  \"saved_name\": \"{{$json.saved_name}}\",\n  \"original\": \"{{$json.original}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        128
      ],
      "id": "9f8dfb27-d5f2-41d4-a9a9-985d4112d14a",
      "name": "DocMeta Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"_id\": \"{{ $('DocUpload Request').item.json._id }}\",\n  \"meta\": {\n    \"filename\": \"{{ $json.filename }}\",\n    \"extension\": \"{{ $json.extension }}\",\n    \"mime\": \"{{ $json.mime }}\",\n    \"size_bytes\": {{ $json.size_bytes }},\n    \"created_at\": \"{{ $json.created_at }}\",\n    \"meta_status\": \"{{ $json.status }}\",\n    \"exif\": {{ $json.exif || {} }},\n    \"pdf_pages\": {{ $json.pdf_pages || 0 }},\n    \"pdf_text_ratio\": {{ $json.pdf_text_ratio || 0 }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        128
      ],
      "id": "db7edae6-945b-4379-9623-95715e932cfa",
      "name": "Merge DocMeta for Update"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -208,
        128
      ],
      "id": "5a46296a-6072-431e-9149-8d776130f3c4",
      "name": "Update Meta in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "publish",
        "channel": "ocr_queue",
        "messageData": "={   \"file_id\": \"{{ $('Merge DocMeta for Update').item.json._id }}\",\n    \"file_path\": \"{{ $('DocUpload Request').item.json.path }}\",\n    \"doc_id\": \"{{ $('Merge DocMeta for Update').item.json._id }}\",\n    \"created_at\": \"={{ $now }}\"\n}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "8f5502b7-bd6b-493f-ad5b-d1244c1e61d8",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Y9hm9ZE7fU3LLwyk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9217ebc2-05be-4a33-82ae-174951a59420",
              "leftValue": "={{ $json.meta.pdf_pages }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        128
      ],
      "id": "12af72d5-9e62-494c-b703-5ecf5f042e2b",
      "name": "Over PDF Page Limit?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        224
      ],
      "id": "134ade83-2737-4052-8d31-f142c8a18715",
      "name": "Respond to DocPrepMain Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2de5fe4f-7ef7-4bdf-aba1-ff4bd1f4d606",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e5177902-811d-4607-9d5a-0937da47a41e",
              "name": "status",
              "value": 207,
              "type": "number"
            },
            {
              "id": "30f1814b-a01b-4a22-bd6d-478c7e4791cf",
              "name": "userMessage",
              "value": "⚠️ OCR 생략: 문서 페이지 수 초과",
              "type": "string"
            },
            {
              "id": "ca3ff755-0855-4d02-9fb2-35e729863467",
              "name": "pages",
              "value": "={{ $json.meta.pdf_pages }}",
              "type": "number"
            },
            {
              "id": "85e16480-1d99-4de7-b500-a422ce31b43b",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        32
      ],
      "id": "e901bb79-54bc-49ba-8e64-e334367451d7",
      "name": "Set PDF Limit Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] Skipped OCR due to page limit: {{$json.filename}} ({{$json.pages}} pages)\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "499e27c2-bcaa-4e69-9521-35c56cdaa94f",
      "name": "Log PDF Limit Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 207
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        32
      ],
      "id": "e751b41f-4977-4516-8171-36cd37a6761e",
      "name": "Respond PDF Page Limit Warning"
    }
  ],
  "pinData": {},
  "connections": {
    "DocPrepMain Webhook": {
      "main": [
        [
          {
            "node": "DocUpload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Request": {
      "main": [
        [
          {
            "node": "DocMeta Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Request": {
      "main": [
        [
          {
            "node": "Merge DocMeta for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DocMeta for Update": {
      "main": [
        [
          {
            "node": "Update Meta in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meta in MongoDB": {
      "main": [
        [
          {
            "node": "Over PDF Page Limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Over PDF Page Limit?": {
      "main": [
        [
          {
            "node": "Set PDF Limit Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Respond to DocPrepMain Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Limit Warning": {
      "main": [
        [
          {
            "node": "Log PDF Limit Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log PDF Limit Warning": {
      "main": [
        [
          {
            "node": "Respond PDF Page Limit Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f0d8cf2-dd8a-4d65-84e5-6fa639d2fed5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "4J8PGGXFdPWtFaIH",
  "tags": []
}