n8n_flows/tests/SmartSearchTest.json
{
  "name": "SmartSearchTest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartsearch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        -112
      ],
      "id": "e16e75d3-bf0e-4c17-8cca-81b0995cd514",
      "name": "SmartSearch Webhook",
      "webhookId": "4c1d0839-8a20-40ea-bfd1-5575c65fa171"
    },
    {
      "parameters": {
        "collection": "files",
        "options": {},
        "query": "={{ $json[\"mongoQuery\"] }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        608,
        -112
      ],
      "id": "82c3a3ee-f719-43a9-a20b-c410178be643",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        -112
      ],
      "id": "63dfa336-947b-4714-b367-9ee4d1fca7b0",
      "name": "Respond with Search Results"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.body.query || '';\nconst id = $json.body.id || '';\nconst mode = ($json.body.mode || 'OR').toUpperCase();\n\nlet finalQuery = {};\nlet isIdSearch = false; // ID 검색 여부를 판단하는 플래그\n\n// 1. ID가 존재하는 경우\nif (id) {\n  // ID 검색 쿼리 객체 생성\n  // MongoDB Extended JSON 형식의 \"$oid\"를 사용\n  finalQuery = { _id: { \"$oid\": id } };\n  isIdSearch = true;\n} \n// 2. ID가 없고 키워드가 존재하는 경우 (기존 로직)\nelse if (query.trim().length > 0) {\n  const keywords = query\n    .split(' ')\n    .map(k => k.trim())\n    .filter(k => k.length > 0);\n\n  const fields = [\n    'originalName',\n    'ocr.full_text',\n    'ocr.summary',\n    'meta.filename'\n  ];\n\n  const buildSingleKeywordQuery = (keyword) =>\n    fields.map(field => ({ [field]: { $regex: keyword, $options: 'i' } }));\n\n  if (mode === 'AND') {\n    finalQuery = {\n      $and: keywords.map(kw => ({ $or: buildSingleKeywordQuery(kw) }))\n    };\n  } else {\n    finalQuery = {\n      $or: keywords.flatMap(kw => buildSingleKeywordQuery(kw))\n    };\n  }\n}\n// 3. ID도 없고 키워드도 없는 경우\nelse {\n  return [{ json: {} }];\n}\n\n\n// 다음 노드로 쿼리와 플래그를 함께 전달\nreturn [{\n  json: {\n    query: finalQuery,\n    isIdSearch: isIdSearch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -112
      ],
      "id": "24a75d1d-97a7-47e6-b3aa-ceee6185c086",
      "name": "Build Mongo Query"
    },
    {
      "parameters": {
        "jsCode": "// Stringify Mongo Query 노드 수정 코드\nconst input = $json;\nconst mongoQuery = input.query;\nconst isIdSearch = input.isIdSearch;\n\nlet outputJson;\n\nif (isIdSearch) {\n  // ID 검색일 경우, _id 필드만 남기고 JSON 객체로 반환\n  outputJson = {\n    _id: mongoQuery._id[\"$oid\"]\n  };\n} else {\n  // 키워드 검색일 경우, 쿼리 객체 그대로 반환\n  outputJson = mongoQuery;\n}\n\nreturn [\n  {\n    json: {\n      mongoQuery: JSON.stringify(outputJson)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -112
      ],
      "id": "fd8a5b97-856f-4522-b476-86e6d042fd2a",
      "name": "Stringify Mongo Query"
    }
  ],
  "pinData": {},
  "connections": {
    "SmartSearch Webhook": {
      "main": [
        [
          {
            "node": "Build Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Respond with Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query": {
      "main": [
        [
          {
            "node": "Stringify Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify Mongo Query": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ea0c54f-b177-4d13-99fa-25867d88bfa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "K0OGIAMKdV6UcAwT",
  "tags": []
}