n8n_flows/tests/SmartSearchTest.json
{
  "name": "SmartSearchTest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartsearch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9239eb26-d003-48dc-95ab-525aa7e088b5",
      "name": "SmartSearch Webhook",
      "webhookId": "4c1d0839-8a20-40ea-bfd1-5575c65fa171"
    },
    {
      "parameters": {
        "collection": "files",
        "options": {},
        "query": "={{ $json[\"mongoQuery\"] }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "7b3abf9e-e667-463a-80d4-87e8b6b32ecd",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        0
      ],
      "id": "b9ca25d2-635d-4bbb-9eb9-0a6c218c9345",
      "name": "Respond with Search Results"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.body.query || '';\nconst mode = ($json.body.mode || 'OR').toUpperCase(); // 기본 OR\n\nconst keywords = query\n  .split(' ')\n  .map(k => k.trim())\n  .filter(k => k.length > 0);\n\nif (keywords.length === 0) {\n  return [{ json: {} }];\n}\n\n// 검색 대상 필드 정의\nconst fields = [\n  'originalName',\n  'ocr.full_text',\n  'ocr.summary',\n  'meta.filename'\n];\n\n// 단일 키워드에 대해 $or 쿼리 조건 생성\nconst buildSingleKeywordQuery = (keyword) =>\n  fields.map(field => ({ [field]: { $regex: keyword, $options: 'i' } }));\n\nlet finalQuery = {};\n\nif (mode === 'AND') {\n  finalQuery = {\n    $and: keywords.map(kw => ({ $or: buildSingleKeywordQuery(kw) }))\n  };\n} else {\n  // OR 모드 (기본값)\n  finalQuery = {\n    $or: keywords.flatMap(kw => buildSingleKeywordQuery(kw))\n  };\n}\n\nreturn [{ json: finalQuery }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "a427e319-3e09-4da8-a457-ca827649881f",
      "name": "Build Mongo Query"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      mongoQuery: JSON.stringify($json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "86b9bbbc-998e-4598-ac8f-99f806b37bdf",
      "name": "Stringify Mongo Query"
    }
  ],
  "pinData": {},
  "connections": {
    "SmartSearch Webhook": {
      "main": [
        [
          {
            "node": "Build Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Respond with Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query": {
      "main": [
        [
          {
            "node": "Stringify Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify Mongo Query": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7b35f7e-8d74-45df-bf5c-c233e5b1819e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "K0OGIAMKdV6UcAwT",
  "tags": []
}