n8n_flows/modules/DocMeta.json
{
  "name": "DocMeta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docmeta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        272
      ],
      "id": "0a6f4074-fd20-4e11-8b49-ab269e02c94d",
      "name": "DocMeta Webhook",
      "webhookId": "7fdf34d7-7dd7-474c-a534-34e5238f7f1e"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/tmp/{{$binary.file.fileName}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        128,
        272
      ],
      "id": "b2c9ae84-ae7c-45b0-8d40-cf0607001208",
      "name": "Save Upload to Temp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/enhanced_file_analyzer.js /data/tmp/\"{{$binary.file.fileName}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        576,
        368
      ],
      "id": "e97eeb0b-d957-4f76-b0f5-56bfd93f295c",
      "name": "Run DocMeta Analyzer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($json.stdout);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        560
      ],
      "id": "fc2333ac-f9e8-4e74-a081-f5e6b6ab4f92",
      "name": "Parse Analyzer Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"NO_BINARY_FILE\",\n  \"message\": \"No file received for DocMeta\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        176
      ],
      "id": "0090d127-9a4d-4ebf-b685-cd4498166551",
      "name": "Respond 400 BadRequest (NO_BINARY_FILE)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2e318dc-a3aa-43cd-be16-84a627174481",
              "leftValue": "={{ $json.fileName == undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        272
      ],
      "id": "979e967b-df4a-4aeb-8f53-f9c98acae8e1",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"SAVE_FAIL\",\n  \"message\": \"Failed to save file to temp directory\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        176
      ],
      "id": "bcbc91ee-1adf-4519-9398-e6254fb84e52",
      "name": "Respond 500 SaveFail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"ANALYZER_FAIL\",\n  \"message\": \"DocMeta Analyzer execution failed\",\n  \"stderr\": \"{{$json.stderr}}\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        368
      ],
      "id": "b59b6b36-1feb-4915-bd0d-6a6a5eb198f2",
      "name": "Respond 500 AnalyzerFail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38124cd2-2ed8-4d62-90ce-d308d0c96a02",
              "leftValue": "={{ $json.exitCode !== 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        464
      ],
      "id": "c347fb05-f717-4e10-8f68-e8ba04a6000a",
      "name": "Analyzed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3405ef5-dcfa-4a20-9caf-6f39f0178a63",
              "leftValue": "={{ $json.status && $json.status.toString().toLowerCase() === \"ok\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        496
      ],
      "id": "f5a07bc6-3235-4945-9125-f6f715b5b110",
      "name": "Parsed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"INVALID_ANALYZER_OUTPUT\",\n  \"message\": \"Failed to parse analyzer output\",\n  \"raw\": \"{{$json.raw}}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1472,
        400
      ],
      "id": "c8a0231e-6883-4005-9764-c562b488fb9f",
      "name": "Respond 500 AnalyzerOutputFail"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2368,
        752
      ],
      "id": "d82ebd70-b338-4376-9341-894ea6c4efbd",
      "name": "Respond to DocMeta Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a6a9aba-3fd9-41c0-b335-5570fce61c6d",
              "leftValue": "={{ $binary.file !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        368
      ],
      "id": "d28a973b-ba25-4131-bb90-7a956f0f539a",
      "name": "Binary Exist?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba08d112-b9d7-4eaf-86ac-fcdc55ad64b2",
              "leftValue": "={{ $binary.file === undefined && $json.body.path === undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        272
      ],
      "id": "603e29fc-4379-4859-a65b-3fa737880e02",
      "name": "No Binary & No Path?"
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/enhanced_file_analyzer.js {{$json.body.path}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        576,
        560
      ],
      "id": "5aa0f10e-fc7d-4282-a459-bf43ba0cd359",
      "name": "Run DocMeta Analyzer with Path"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docsummary",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_text",
              "value": "={{ $json.extracted_text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        592
      ],
      "id": "e7fb7d66-9cff-41ae-940f-0fa9ec6d0a92",
      "name": "Summary Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "472a7bdd-40c0-4a38-a5b8-5faede965535",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        592
      ],
      "id": "6bdfb973-cc21-4ff5-9849-65319f95ffad",
      "name": "Summary Failed?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1920,
        544
      ],
      "id": "89bc0b73-acc5-4597-bc6b-62478ea8451d",
      "name": "Summary Error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        752
      ],
      "id": "cbfddd81-23d9-4e5a-8041-a7bffa62678f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590f8dcd-1783-41ed-bc70-8d8567dbd281",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            },
            {
              "id": "b1e0f002-bfad-47f5-b717-bb1317fa0cbd",
              "name": "extension",
              "value": "={{ $json.extension }}",
              "type": "string"
            },
            {
              "id": "9a6bb378-1cf7-49e7-b29e-1b54b97fd974",
              "name": "mime",
              "value": "={{ $json.mime }}",
              "type": "string"
            },
            {
              "id": "f2d44bdc-2ed6-4dae-8d54-4a708161ad20",
              "name": "size_bytes",
              "value": "={{ $json.size_bytes }}",
              "type": "number"
            },
            {
              "id": "a34a6166-6e21-4cf6-9bb6-8f1b9a1eace1",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "2baf1193-c33d-48c7-9eb8-8b035d9797ec",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "91c2775b-7537-4cb3-a608-ddff6ae3dc7d",
              "name": "exif",
              "value": "={{ $json.exif }}",
              "type": "object"
            },
            {
              "id": "63af33ae-ee4e-4ffe-bbaf-905845d5505e",
              "name": "pdf_pages",
              "value": "={{ $json.pdf_pages }}",
              "type": "number"
            },
            {
              "id": "623a35af-1a71-44b6-901c-ec2dd8170d63",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "84086ce8-65e1-47f5-adbb-ba7481168fcf",
              "name": "pdf_text_ratio",
              "value": "={{ $json.pdf_text_ratio }}",
              "type": "object"
            },
            {
              "id": "23e1dd54-af90-4a9a-8ad2-b3fa697b58c4",
              "name": "summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "1e8b0177-f8e2-466e-a599-455db39ed1e9",
              "name": "length",
              "value": "={{ $json.body.length }}",
              "type": "number"
            },
            {
              "id": "a7322fd2-ef0f-4958-b380-67ad0619d837",
              "name": "truncated",
              "value": "={{ $json.body.truncated }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        752
      ],
      "id": "33ec96de-b851-48b8-84fb-a8a4fc73aef5",
      "name": "Response Data"
    }
  ],
  "pinData": {},
  "connections": {
    "DocMeta Webhook": {
      "main": [
        [
          {
            "node": "No Binary & No Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Upload to Temp": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analyzer Output": {
      "main": [
        [
          {
            "node": "Parsed?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 SaveFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Analyzer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerOutputFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary Exist?": {
      "main": [
        [
          {
            "node": "Save Upload to Temp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer with Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Binary & No Path?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest (NO_BINARY_FILE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Binary Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer with Path": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Request": {
      "main": [
        [
          {
            "node": "Summary Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Failed?": {
      "main": [
        [
          {
            "node": "Summary Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Data": {
      "main": [
        [
          {
            "node": "Respond to DocMeta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "643001c4-144b-4a79-97ef-480539b001c1",
  "meta": {
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "nOAbvrST5mG0ksJt",
  "tags": []
}