n8n_flows/modules/DocMeta.json
{
  "name": "DocMeta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docmeta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1056,
        -288
      ],
      "id": "77a6af94-3d00-4a46-ac2f-e35edec83dfb",
      "name": "DocMeta Webhook",
      "webhookId": "7fdf34d7-7dd7-474c-a534-34e5238f7f1e"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/tmp/{{$binary.file.fileName}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -400,
        -288
      ],
      "id": "a4d8c7b6-35d6-489b-ae6a-3485cea15ffd",
      "name": "Save Upload to Temp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/file_analyzer.js /data/tmp/\"{{$binary.file.fileName}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        -176
      ],
      "id": "778dd9ab-5581-484e-9bec-792faafd492e",
      "name": "Run DocMeta Analyzer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const lines = $json.stdout.split('\\n');\nconst jsonLine = lines.find(line => {\n  const trimmed = line.trim();\n  return trimmed.startsWith('{') && trimmed.endsWith('}');\n});\n\nif (!jsonLine) {\n  throw new Error(\"No valid JSON found in analyzer output.\");\n}\n\nreturn JSON.parse(jsonLine);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        32
      ],
      "id": "c55d8f4c-a38a-404c-885e-85526b8cd6fb",
      "name": "Parse Analyzer Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"NO_BINARY_FILE\",\n  \"message\": \"No file received for DocMeta\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -608,
        -384
      ],
      "id": "a43a4b3f-b365-4054-8539-0c2fba65541d",
      "name": "Respond 400 BadRequest (NO_BINARY_FILE)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2e318dc-a3aa-43cd-be16-84a627174481",
              "leftValue": "={{ $json.fileName == undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -288
      ],
      "id": "661164ed-66ee-49e9-970a-9477e2bac0b1",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"SAVE_FAIL\",\n  \"message\": \"Failed to save file to temp directory\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        -384
      ],
      "id": "3e695696-e5e8-4739-818a-929d908780ac",
      "name": "Respond 500 SaveFail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"ANALYZER_FAIL\",\n  \"message\": \"DocMeta Analyzer execution failed\",\n  \"stderr\": \"{{$json.stderr}}\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -176
      ],
      "id": "d0154e29-5c4f-4d2d-a560-049199e9c7c8",
      "name": "Respond 500 AnalyzerFail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38124cd2-2ed8-4d62-90ce-d308d0c96a02",
              "leftValue": "={{ $json.exitCode !== 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        -80
      ],
      "id": "056a38c1-28b0-489d-ba2d-570ace680fe6",
      "name": "Analyzed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3405ef5-dcfa-4a20-9caf-6f39f0178a63",
              "leftValue": "={{ $json.status && $json.status.toString().toLowerCase() === \"ok\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        32
      ],
      "id": "580980aa-702a-48ae-a809-9611f2396ff5",
      "name": "Parsed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"INVALID_ANALYZER_OUTPUT\",\n  \"message\": \"Failed to parse analyzer output\",\n  \"raw\": \"{{$json.raw}}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        -80
      ],
      "id": "f7582d42-c39c-42e7-9faf-78b0e5d1c7f7",
      "name": "Respond 500 AnalyzerOutputFail"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        128
      ],
      "id": "e018d8c2-0f7b-45e8-bf3f-1fe846311de1",
      "name": "Respond to DocMeta Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a6a9aba-3fd9-41c0-b335-5570fce61c6d",
              "leftValue": "={{ $binary.file !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        -176
      ],
      "id": "951d5371-c7ae-4e0f-80c8-36afff17c8b8",
      "name": "Binary Exist?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba08d112-b9d7-4eaf-86ac-fcdc55ad64b2",
              "leftValue": "={{ $binary.file === undefined && $json.body.path === undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        -288
      ],
      "id": "36642056-f13b-4ac0-aef8-566d5464346e",
      "name": "No Binary & No Path?"
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/file_analyzer.js {{$json.body.path}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        32
      ],
      "id": "56657a8f-cbf1-495b-9fb4-c6beab76490a",
      "name": "Run DocMeta Analyzer with Path"
    }
  ],
  "pinData": {},
  "connections": {
    "DocMeta Webhook": {
      "main": [
        [
          {
            "node": "No Binary & No Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Upload to Temp": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analyzer Output": {
      "main": [
        [
          {
            "node": "Parsed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 SaveFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Analyzer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerOutputFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to DocMeta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary Exist?": {
      "main": [
        [
          {
            "node": "Save Upload to Temp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer with Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Binary & No Path?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest (NO_BINARY_FILE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Binary Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer with Path": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7"
  },
  "versionId": "45f22f22-5586-4974-bbf7-f2b6bce81692",
  "meta": {
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "nOAbvrST5mG0ksJt",
  "tags": []
}