n8n_flows/modules/DocOCR.json
{
  "name": "DocOCR",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"ocr_confidence\": \"{{ $json.confidence }}\",\n  \"ocr_text\": \"{{ $json.limitedText }}\"\n}",
        "options": {
          "systemMessage": "=당신은 OCR 후처리 AI입니다.\n\n입력은 JSON 형식으로 두 가지가 제공됩니다:\n- ocr_confidence: OCR API가 반환한 신뢰도 값\n- ocr_text: OCR로 인식된 원문\n\n이 두 가지를 아래 JSON 형식으로 그대로 반환하세요.\n\n{\n  \"confidence\": \"<ocr_confidence 그대로 넣기, 수정/추론 금지>\",\n  \"summary\": \"<ocr_text 내용을 3~5줄로 요약>\"\n}\n\n⚠️ 절대 문서 내용을 confidence에 넣지 마세요.\n⚠️ confidence는 입력 ocr_confidence 값 그대로 복사하세요.\n⚠️ summary에는 ocr_text 요약만 넣으세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1440,
        260
      ],
      "id": "e1a44d4f-d181-4f0f-87ab-20ddf9153993",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1360,
        480
      ],
      "id": "368ffdbd-2fc4-4203-a0c5-ebfa064a305b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T3sQKJvrbzgpZfuT",
          "name": "OpenAi account - lecture용"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dococr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2540,
        160
      ],
      "id": "07379dbe-1d68-45a5-a20f-5b49a29bd4fb",
      "name": "Webhook",
      "webhookId": "94082f79-7eb0-43ae-a2f3-f5ee6df4508f"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\n// Upstage OCR에서 에러가 포함된 경우\nif (response.error || response.status === 413 || response.error?.message?.includes('too many pages')) {\n  return [{\n    json: {                               // ✅ json 래핑\n      error: true,\n      status: response.status || 413,     // 상태코드 유지\n      userMessage: \"❌ OCR 실패: 문서 페이지가 너무 많습니다. 30페이지 이하 문서만 지원됩니다.\"\n    }\n  }];\n}\n\n// 에러가 아니면 정상 응답 플래그와 함께 반환\nreturn [{\n  json: {                                // ✅ json 래핑\n    error: false,\n    ...response\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2100,
        160
      ],
      "id": "159cbf2f-47e1-4cae-84f9-3e9870120cca",
      "name": "Check OCR Error"
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.pages || [];\nlet limitedText = \"\";\n\nfor (const page of pages.slice(0, 5)) {\n  limitedText += (page.text || \"\") + \"\\n\\n\";\n}\n\nreturn [{\n  json: {\n    confidence: $input.first().json.confidence,\n    limitedText: limitedText.trim()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        260
      ],
      "id": "206112f6-e7af-47c9-8faa-a31c139bce63",
      "name": "Limit & Merge Pages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-digitization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_CuatSnZ5jDDHsJNPLByxijBXdmw0A"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        160
      ],
      "id": "bb4fbc1e-7802-4166-a99f-aa5860191c5b",
      "name": "Upstage OCR Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce48dbbc-4cf0-4f5d-b6d4-bd1987096fbc",
              "leftValue": "={{ $json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1880,
        160
      ],
      "id": "00857a91-b4fd-41a8-8009-431fdd97bb67",
      "name": "Is OCR Error?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1660,
        60
      ],
      "id": "eb1e3303-f702-48bc-82a1-4aec46ff95a8",
      "name": "OCR Error Return"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1080,
        260
      ],
      "id": "52d75aa2-0798-4dc2-85f0-2a30b6119f90",
      "name": "OCR Return"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upstage OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OCR Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OCR Error": {
      "main": [
        [
          {
            "node": "Is OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit & Merge Pages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage OCR Request": {
      "main": [
        [
          {
            "node": "Check OCR Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR Error?": {
      "main": [
        [
          {
            "node": "OCR Error Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit & Merge Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cab58a64-8ae1-4cb5-98fe-f39ee35275ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0cc9a936009f7da06be7c1a1d682098212b5d24a0a2d110ca430428308720e"
  },
  "id": "NjpOxFx8s9HTDOqk",
  "tags": []
}