n8n_flows/modules/DocOCR.json
{
  "name": "DocOCR",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"ocr_confidence\": \"{{ $json.confidence }}\",\n  \"ocr_text\": \"{{ $json.limitedText }}\"\n}",
        "options": {
          "systemMessage": "=당신은 OCR 후처리 AI입니다.\n\n입력은 JSON 형식으로 두 가지가 제공됩니다:\n- ocr_confidence: OCR API가 반환한 신뢰도 값\n- ocr_text: OCR로 인식된 원문\n\n이 두 가지를 아래 JSON 형식으로 그대로 반환하세요.\n\n{\n  \"confidence\": \"<ocr_confidence 그대로 넣기, 수정/추론 금지>\",\n  \"summary\": \"<ocr_text 내용을 3~5줄로 요약>\"\n}\n\n⚠️ 절대 문서 내용을 confidence에 넣지 마세요.\n⚠️ confidence는 입력 ocr_confidence 값 그대로 복사하세요.\n⚠️ summary에는 ocr_text 요약만 넣으세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "id": "97ff173a-5218-49b2-a783-63d2a44feddd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        544
      ],
      "id": "c3689b2c-53ae-47e9-ae9f-7d49c74704ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dococr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        192
      ],
      "id": "07639b98-b70c-4b58-a3eb-ea64f7cd4f30",
      "name": "Webhook",
      "webhookId": "94082f79-7eb0-43ae-a2f3-f5ee6df4508f"
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.pages || [];\n\n// ✅ 전체 텍스트(full_text)\nlet fullText = \"\";\nfor (const page of pages) {\n  fullText += (page.text || \"\") + \"\\n\\n\";\n}\n\n// ✅ 요약에만 사용할 제한 텍스트(limitedText)\nlet limitedText = \"\";\nfor (const page of pages.slice(0, 5)) {\n  limitedText += (page.text || \"\") + \"\\n\\n\";\n}\n\nreturn [{\n  json: {\n    confidence: $input.first().json.confidence,\n    full_text: fullText.trim(),      // ✅ DB 저장용 전체 텍스트\n    limitedText: limitedText.trim()  // ✅ 요약용 5p 제한 텍스트\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        320
      ],
      "id": "84b71d25-ca56-451d-b49a-2e1f01b8de30",
      "name": "Limit & Merge Pages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-digitization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_CuatSnZ5jDDHsJNPLByxijBXdmw0A"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        192
      ],
      "id": "7745d1d2-685e-4bd8-8728-1896d42541c8",
      "name": "Upstage OCR Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce48dbbc-4cf0-4f5d-b6d4-bd1987096fbc",
              "leftValue": "={{ $json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "eeb1bdcf-7a30-47b4-9ddb-da48ec46e8f4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        192
      ],
      "id": "375139c5-aaca-4904-b6fa-c1f7ee7d2d48",
      "name": "Is OCR Error?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        192
      ],
      "id": "fd8b9abb-b46c-466c-b89f-ddc6e9fe3884",
      "name": "OCR Return"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $node[\"AI Agent\"].json.output;\n\n// ✅ output이 문자열이면 JSON 파싱 시도\nif (typeof aiOutput === \"string\") {\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (e) {\n    // 파싱 실패하면 문자열 그대로 유지\n  }\n}\n\nreturn [{\n  json: {\n    confidence: $node[\"Limit & Merge Pages\"].json.confidence,    // OCR 신뢰도\n    full_text: $node[\"Limit & Merge Pages\"].json.full_text,      // DB 저장용 전체 텍스트\n    summary: aiOutput.summary || aiOutput                       // summary 있으면 출력, 없으면 전체 반환\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        320
      ],
      "id": "111b422c-ab01-4aa4-98e0-d8dff26a30e8",
      "name": "Merge with FullText"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": {{ $json.status }},\n  \"error\": true,\n  \"userMessage\": {{ JSON.stringify($json.userMessage) }},\n  \"confidence\": null,\n  \"summary\": null,\n  \"full_text\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        64
      ],
      "id": "4e87ece2-fc61-4327-8bc5-cd3d31dfcd7c",
      "name": "Set OCR Error Response"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": 200,\n  \"error\": false,\n  \"userMessage\": \"OCR 성공\",\n  \"confidence\": {{ $json.confidence }},\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"full_text\": {{ JSON.stringify($json.full_text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        320
      ],
      "id": "8633a0cb-a8e4-4c03-ab9c-2955dcf9001b",
      "name": "Set OCR Success Response"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\n// 기본값 (정상 기준)\nlet error = false;\nlet status = 200;\nlet userMessage = \"OCR 성공\";\nlet ocr_text = response.text ?? null;\nlet num_pages = response.numBilledPages ?? null;\n\n// 에러 구조가 들어온 경우\nif (response.error && response.error !== false) {\n  error = true;\n  // status, userMessage 등 에러 필드 파싱 (axios 에러 구조까지 대응)\n  status = response.status ?? response.error.status ?? 500;\n\n  // error.message가 JSON string일 때 실제 메시지 뽑기 (고급 보강)\n  let msg = response.error.message ?? response.userMessage ?? \"❌ OCR 처리 실패\";\n  try {\n    // JSON string 이중 인코딩 대응\n    const match = msg.match(/{.*}/);\n    if (match) {\n      const parsed = JSON.parse(match[0]);\n      if (parsed.error && parsed.error.message) {\n        msg = parsed.error.message;\n      }\n    }\n  } catch(e) {\n    // 파싱 실패시 원본 그대로 사용\n  }\n  userMessage = msg;\n\n  // 에러면 결과 데이터는 null\n  ocr_text = null;\n  num_pages = null;\n}\n\n// 결과 반환 (에러/정상 모두 동일 포맷)\nreturn [{\n  json: {\n    error,           // 반드시 boolean\n    status,          // int\n    userMessage,     // string\n    ocr_text,        // string|null\n    num_pages        // int|null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ],
      "id": "c610eb72-b0ed-44bd-9692-6e7b122dada3",
      "name": "Normalize DocOCR Response"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upstage OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge with FullText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit & Merge Pages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage OCR Request": {
      "main": [
        [
          {
            "node": "Normalize DocOCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR Error?": {
      "main": [
        [
          {
            "node": "Set OCR Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit & Merge Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with FullText": {
      "main": [
        [
          {
            "node": "Set OCR Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Error Response": {
      "main": [
        [
          {
            "node": "OCR Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Success Response": {
      "main": [
        [
          {
            "node": "OCR Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize DocOCR Response": {
      "main": [
        [
          {
            "node": "Is OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7"
  },
  "versionId": "8d07e145-7128-41dc-941f-25ffcd6013de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "SmTOn3mdK21O5WZt",
  "tags": []
}