n8n_flows/modules/DocUpload.json
{
  "name": "DocUpload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docupload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -60
      ],
      "id": "7489f288-59c3-44e1-abc9-29f60a86ab4c",
      "name": "DocUpload Webhook",
      "webhookId": "50122c31-3902-422e-8008-c1f4996aba74"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{\"/data/tmp/upload_\" + $now.toString().replace(/[^0-9A-Za-z]/g,'') + \"_\" + Math.random().toString(36).slice(2,8)}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        660,
        40
      ],
      "id": "d4b96fd4-4f44-4305-a0f9-a8be4fd396af",
      "name": "Save to Temp File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function generateSafePath() {\n  const now = new Date();\n  const yyyy = now.getFullYear();\n  const mm = ('0' + (now.getMonth() + 1)).slice(-2);\n  const dd = ('0' + now.getDate()).slice(-2);\n  const hh = ('0' + now.getHours()).slice(-2);\n  const min = ('0' + now.getMinutes()).slice(-2);\n  const ss = ('0' + now.getSeconds()).slice(-2);\n\n  const timestamp = `${String(yyyy).slice(-2)}${mm}${dd}${hh}${min}${ss}`;\n\n  // 랜덤 토큰\n  const token = Math.random().toString(36).slice(2, 10);\n\n  // 원본 파일명 (없으면 unknown)\n  const originalName = $binary.file?.fileName?.replace(/[\\n\\r]/g, '') || 'unknown';\n\n  // 확장자 파싱 실패 시 빈 문자열\n  let ext = '';\n  const extMatch = originalName.match(/\\.[0-9A-Za-z]+$/);\n  if (extMatch) ext = extMatch[0];\n\n  const saveName = `${timestamp}_${token}${ext}`;\n  const folder = `/data/files/${yyyy}/${mm}`;\n  const destPath = `${folder}/${saveName}`;\n\n  return { folder, destPath, saveName, originalName };\n}\n\nfunction safeGenerateFinalPath(maxRetry = 5) {\n  let lastError = null;\n\n  for (let i = 0; i < maxRetry; i++) {\n    try {\n      const pathData = generateSafePath();\n      // folder/destPath가 유효하면 성공\n      if (pathData.folder && pathData.destPath) {\n        return pathData;\n      }\n    } catch (e) {\n      lastError = e; // 실패하면 다음 재시도\n    }\n  }\n\n  // 모든 재시도 실패 → fallback 강제 생성\n  const fallbackName = `unknown_${Date.now()}`;\n  return {\n    folder: `/data/files/fallback`,\n    destPath: `/data/files/fallback/${fallbackName}`,\n    saveName: fallbackName,\n    originalName: 'unknown'\n  };\n}\n\n// 최종 반환 (항상 성공)\nreturn [ { json: safeGenerateFinalPath(5) } ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        140
      ],
      "id": "c60ad833-66fd-493d-9da4-56140fba03ee",
      "name": "Generate Final Path"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{$json[\"folder\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1320,
        140
      ],
      "id": "43ddd746-feb4-4eb5-a19b-7c12930967ed",
      "name": "Exec mkdir",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=mv {{ $('Save to Temp File').item.json.fileName }} {{$node[\"Generate Final Path\"].json[\"destPath\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1540,
        140
      ],
      "id": "290d458e-bbfc-467e-a143-6599fa2d9d14",
      "name": "Exec mv"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"success\",\n  \"original\": \"{{$node['Generate Final Path'].json['originalName']}}\",\n  \"saved_name\": \"{{$node['Generate Final Path'].json['saveName']}}\",\n  \"path\": \"{{$node['Generate Final Path'].json['destPath']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2200,
        140
      ],
      "id": "f3eccaed-7337-4daa-84c7-bb38395dee9b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"originalName\": \"{{$node[\"Generate Final Path\"].json[\"originalName\"] }}\",\n  \"saveName\": \"{{$node[\"Generate Final Path\"].json[\"saveName\"] }}\",\n  \"destPath\": \"{{$node[\"Generate Final Path\"].json[\"destPath\"] }}\",\n  \"folder\": \"{{$node[\"Generate Final Path\"].json[\"folder\"] }}\",\n  \"uploaded_at\": \"{{ $now.format('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSxxx') }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        140
      ],
      "id": "43d7862f-a867-4d3c-bacf-809397c28abb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=originalName,saveName,destPath,folder,uploaded_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1980,
        140
      ],
      "id": "ffad93d1-e690-4111-8986-813b3cbb5633",
      "name": "Save File Metadata to DB",
      "credentials": {
        "mongoDb": {
          "id": "iOJAgJOlMFh18tcD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate uploaded file existence\nif (!$binary?.file) {\n  return [\n    {\n      json: {\n        error: true,\n        code: \"REQUEST_INVALID\",\n        message: \"No file received or parse error\"\n      }\n    }\n  ];\n}\n\n// 정상일 때 (테스트 모드라 실행 안 됨)\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -60
      ],
      "id": "36d0d769-31d7-4029-98c2-f82fb3731313",
      "name": "Check Binary File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"{{$json.code}}\",\n  \"message\": \"{{$json.message}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        660,
        -160
      ],
      "id": "130104a4-63c8-4b4d-a8ae-96e2eadb730d",
      "name": "Respond 400 BadRequest"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"error\",\n  \"code\": \"TEMP_SAVE_FAILED\",\n  \"message\": \"Failed to save file to temp storage\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1100,
        -60
      ],
      "id": "278ddfa2-4894-4dd7-8ee0-d534935ab3ec",
      "name": "Respond 500 Temp Save Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e1ae6da-0a84-4689-9e4d-e8a4ea783ae2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        40
      ],
      "id": "3b84b86a-1b55-4cf9-89cc-f6c1211aacd1",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d8eef84-63a9-4140-8330-d24d19158fba",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -60
      ],
      "id": "5342738e-05a4-44c5-9dc7-51c75eb50808",
      "name": "File Exist?"
    }
  ],
  "pinData": {},
  "connections": {
    "DocUpload Webhook": {
      "main": [
        [
          {
            "node": "Check Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Temp File": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Path": {
      "main": [
        [
          {
            "node": "Exec mkdir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec mkdir": {
      "main": [
        [
          {
            "node": "Exec mv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec mv": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save File Metadata to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Metadata to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Binary File": {
      "main": [
        [
          {
            "node": "File Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 Temp Save Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Final Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exist?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eef1c5f6-b723-47ed-85be-55d493b696f8",
  "meta": {
    "instanceId": "cb0cc9a936009f7da06be7c1a1d682098212b5d24a0a2d110ca430428308720e"
  },
  "id": "mw7evXMK35vpTlu2",
  "tags": []
}