n8n_flows/modules/DocUpload.json
{
  "name": "DocUpload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docupload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        256
      ],
      "id": "e1859083-fb6b-4be0-b1d1-d3f072f938f7",
      "name": "DocUpload Webhook",
      "webhookId": "50122c31-3902-422e-8008-c1f4996aba74"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{\"/data/tmp/upload_\" + $now.toString().replace(/[^0-9A-Za-z]/g,'') + \"_\" + Math.random().toString(36).slice(2,8)}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        272,
        352
      ],
      "id": "b9e2764a-5772-47f0-80b4-1c799c2893b0",
      "name": "Save to Temp File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function generateSafePath() {\n  const now = new Date();\n  const yyyy = now.getFullYear();\n  const mm = ('0' + (now.getMonth() + 1)).slice(-2);\n  const dd = ('0' + now.getDate()).slice(-2);\n  const hh = ('0' + now.getHours()).slice(-2);\n  const min = ('0' + now.getMinutes()).slice(-2);\n  const ss = ('0' + now.getSeconds()).slice(-2);\n\n  const timestamp = `${String(yyyy).slice(-2)}${mm}${dd}${hh}${min}${ss}`;\n\n  // 랜덤 토큰\n  const token = Math.random().toString(36).slice(2, 10);\n\n  // 원본 파일명 (없으면 unknown)\n  const originalName = items[0].binary.file?.fileName?.replace(/[\\n\\r]/g, '') || 'unknown';\n\n  // 확장자 파싱 실패 시 빈 문자열\n  let ext = '';\n  const extMatch = originalName.match(/\\.[0-9A-Za-z]+$/);\n  if (extMatch) ext = extMatch[0];\n\n  const saveName = `${timestamp}_${token}${ext}`;\n  const folder = `/data/files/${yyyy}/${mm}`;\n  const destPath = `${folder}/${saveName}`;\n\n  return { folder, destPath, saveName, originalName };\n}\n\nfunction safeGenerateFinalPath(maxRetry = 5) {\n  let lastError = null;\n\n  for (let i = 0; i < maxRetry; i++) {\n    try {\n      const pathData = generateSafePath();\n      // folder/destPath가 유효하면 성공\n      if (pathData.folder && pathData.destPath) {\n        return pathData;\n      }\n    } catch (e) {\n      lastError = e; // 실패하면 다음 재시도\n    }\n  }\n\n  // 모든 재시도 실패 → fallback 강제 생성\n  const fallbackName = `unknown_${Date.now()}`;\n  return {\n    folder: `/data/files/fallback`,\n    destPath: `/data/files/fallback/${fallbackName}`,\n    saveName: fallbackName,\n    originalName: 'unknown'\n  };\n}\n\n// 최종 반환 (항상 성공)\nreturn [ { json: safeGenerateFinalPath(5) } ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        448
      ],
      "id": "99a07fce-fa70-4f82-b812-5633316ec8b0",
      "name": "Generate Final Path"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{$json[\"folder\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        944,
        448
      ],
      "id": "84bf568c-b801-472e-b377-b3798f38f93c",
      "name": "Exec mkdir",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=mv {{ $('Save to Temp File').item.json.fileName }} {{$node[\"Generate Final Path\"].json[\"destPath\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1376,
        544
      ],
      "id": "a5534930-7998-493b-aa99-955d5da8e371",
      "name": "Exec mv",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"success\",\n  \"_id\": \"{{$node['Save File Metadata to DB'].json['_id']}}\",\n  \"original\": \"{{$node['Generate Final Path'].json['originalName']}}\",\n  \"saved_name\": \"{{$node['Generate Final Path'].json['saveName']}}\",\n  \"path\": \"{{$node['Generate Final Path'].json['destPath']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2480,
        752
      ],
      "id": "2040ead4-0741-4706-8d89-31eab2021d6d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"originalName\": \"{{$node[\"Generate Final Path\"].json[\"originalName\"] }}\",\n  \"saveName\": \"{{$node[\"Generate Final Path\"].json[\"saveName\"] }}\",\n  \"destPath\": \"{{$node[\"Generate Final Path\"].json[\"destPath\"] }}\",\n  \"folder\": \"{{$node[\"Generate Final Path\"].json[\"folder\"] }}\",\n  \"uploaded_at\": \"{{ $now.format('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSxxx') }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        656
      ],
      "id": "ca13c758-8e41-4cc1-a23b-b3a7aff3e54d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=originalName,saveName,destPath,folder,uploaded_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2032,
        656
      ],
      "id": "b4af5a4a-0a0a-47ad-a0f3-0e27c819daec",
      "name": "Save File Metadata to DB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate uploaded file existence\nif (!$binary?.file) {\n  return [\n    {\n      json: {\n        error: true,\n        code: \"REQUEST_INVALID\",\n        message: \"No file received or parse error\"\n      }\n    }\n  ];\n}\n\n// 정상일 때 (테스트 모드라 실행 안 됨)\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        256
      ],
      "id": "028cf0e6-58d7-4d60-b14f-baea4fb326fb",
      "name": "Check Binary File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"{{$json.code}}\",\n  \"message\": \"{{$json.message}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        144
      ],
      "id": "add1cc9a-ffcb-435c-ac95-3c7b106c7074",
      "name": "Respond 400 BadRequest"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"error\",\n  \"code\": \"TEMP_SAVE_FAILED\",\n  \"message\": \"Failed to save file to temp storage\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        256
      ],
      "id": "f7818e85-7e95-4eff-bc3e-0ce5871773dc",
      "name": "Respond 500 Temp Save Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e1ae6da-0a84-4689-9e4d-e8a4ea783ae2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        352
      ],
      "id": "82502c64-43a1-4e7f-944e-cd48e969c435",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d8eef84-63a9-4140-8330-d24d19158fba",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        256
      ],
      "id": "d65e9a2a-49cc-4539-9bf2-b4d47625e17b",
      "name": "File Exist?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"error\",\n  \"code\": \"MKDIR_FAILED\",\n  \"message\": \"{{$json.stderr}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1376,
        352
      ],
      "id": "616777e6-4a8f-42e2-b6b4-9482f0f33e32",
      "name": "Respond 500 MKDIR_FAILED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4fe2b38-08a1-4b37-88e5-3a9731295ab8",
              "leftValue": "={{$json.exitCode}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        448
      ],
      "id": "b20bce0e-b385-403f-ba64-52271ca1b53b",
      "name": "Mkdir Error?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c053a19-c78b-448d-b2ab-e3d107b98e7f",
              "leftValue": "={{$json.exitCode}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        544
      ],
      "id": "6f05fa98-fd8f-491f-a4c1-e520e870f061",
      "name": "Mv Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"error\",\n  \"code\": \"MOVE_FAILED\",\n  \"message\": \"{{$json.stderr}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        448
      ],
      "id": "359bbb5a-fa60-455e-9053-1fbde26f225a",
      "name": "Respond 500 MOVE_FAILED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d84d670-777d-4d7e-b7d3-89e62a75d446",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        656
      ],
      "id": "bf530af4-dd16-47d2-9572-457659fd04b4",
      "name": "DB Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"error\",\n  \"code\": \"DB_INSERT_FAILED\",\n  \"message\": \"{{$json.message || 'Failed to insert file metadata into DB'}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2480,
        544
      ],
      "id": "51c88702-15d2-4f08-9247-59cd93d3c5f2",
      "name": "Respond 500 DB_INSERT_FAILED"
    }
  ],
  "pinData": {},
  "connections": {
    "DocUpload Webhook": {
      "main": [
        [
          {
            "node": "Check Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Temp File": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Path": {
      "main": [
        [
          {
            "node": "Exec mkdir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec mkdir": {
      "main": [
        [
          {
            "node": "Mkdir Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec mv": {
      "main": [
        [
          {
            "node": "Mv Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save File Metadata to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Metadata to DB": {
      "main": [
        [
          {
            "node": "DB Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Binary File": {
      "main": [
        [
          {
            "node": "File Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 Temp Save Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Final Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exist?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mkdir Error?": {
      "main": [
        [
          {
            "node": "Respond 500 MKDIR_FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exec mv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mv Error?": {
      "main": [
        [
          {
            "node": "Respond 500 MOVE_FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Error?": {
      "main": [
        [
          {
            "node": "Respond 500 DB_INSERT_FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "831643d2-e8ae-4a8a-a151-4cf7697824f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "eg09B1KNSHi8pvpJ",
  "tags": []
}