n8n_flows/modules/OCRWorker.json
{
  "name": "OCRWorker",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/dococr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1952,
        176
      ],
      "id": "c91e330e-d412-4337-936a-8a2299aaadbc",
      "name": "DocOCR Request"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2400,
        80
      ],
      "id": "7188f0e2-1745-48ca-b1c3-3c9a7c5b054f",
      "name": "Prepare OCR Binary",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83bfe59f-1079-4b5f-ab8c-b6240fa0cc7c",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        176
      ],
      "id": "51369f29-7db9-408b-b3df-638d7aa5c57a",
      "name": "Is OCR Error?"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-FAIL] failure {{ $('Pasre').item.json.file_path }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1056,
        80
      ],
      "id": "5a768755-8f36-4295-9a86-b86b6e3f6753",
      "name": "Log Final OCR Failure"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stream Message에서 온 값을 그대로 정리해서 반환\nreturn [\n  {\n    file_id: $json.file_id,\n    file_path: $json.file_path,\n    doc_id: $json.doc_id,\n    queued_at: $json.queued_at,\n    message_id: $json.message_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        80
      ],
      "id": "55aa89ce-16bf-44c6-a563-2736397cf211",
      "name": "Pasre"
    },
    {
      "parameters": {
        "command": "redis-cli XREADGROUP GROUP ocr_consumer_group worker-1 COUNT 1 BLOCK 5000 STREAMS ocr_stream \">\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3520,
        80
      ],
      "id": "6f62f3bf-6e64-4515-89cb-c0221df7848c",
      "name": "Read Redis Stream",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.raw_stdout;\n\n// stdout을 라인 단위로 분리\nconst lines = raw.split(\"\\n\").map(l => l.trim()).filter(l => l);\n\n// key-value 파싱\nlet data = {};\nfor (let i = 2; i < lines.length; i += 2) {\n  const key = lines[i];\n  const value = lines[i + 1];\n  if (key && value) {\n    data[key] = value;\n  }\n}\n\n// message_id 따로 추출\ndata[\"message_id\"] = lines[1] || \"\";\n\n// JSON 객체 반환\nreturn [ data ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        80
      ],
      "id": "baf63320-7421-439a-9d14-651cc3fa54cf",
      "name": "Parse Stream Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4792f95-f038-4b24-b00d-fdf5fa6afd59",
              "name": "raw_stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3072,
        80
      ],
      "id": "1e6219fd-dae1-489a-bd62-d4df0c7357c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3744,
        80
      ],
      "id": "75e2b1ed-8a96-467f-be66-cbb2c1b4581f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8531a96f-3983-4fd7-9033-2d4fa7122020",
              "leftValue": "={{ $json.stdout.trim().length }}\n\n",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        80
      ],
      "id": "a8526020-a130-4303-adcf-817f112d62c8",
      "name": "Redis Message Empty?"
    },
    {
      "parameters": {
        "command": "=redis-cli XACK ocr_stream ocr_consumer_group {{ $('Pasre').item.json.message_id }} && \\\nredis-cli XDEL ocr_stream {{ $('Pasre').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -832,
        176
      ],
      "id": "07434434-d796-476e-a893-d97fd5f40fb8",
      "name": "Delete Redis Stream Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9374e668-976e-4279-bdd1-0fa52ba27a42",
              "name": "ocr.status",
              "value": "running",
              "type": "string"
            },
            {
              "id": "1bae5a04-9bc2-491d-b045-45be118b3c60",
              "name": "ocr.queued_at",
              "value": "={{ $('Pasre').item.json.queued_at }}",
              "type": "string"
            },
            {
              "id": "afa13483-2b5d-464a-a9c1-3ae393f6e178",
              "name": "ocr.started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "d0289889-1899-4a15-86b9-0de18061004c",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2176,
        80
      ],
      "id": "b6f6cdcd-a5f4-43d1-a0ae-d9a8ceb3e75a",
      "name": "Set OCR Running"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1952,
        -16
      ],
      "id": "e96be087-c8f6-4534-add1-f7b2c14f351a",
      "name": "Update OCR Running",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62459dc-d875-4578-8cf5-b788cc86111e",
              "name": "ocr.status",
              "value": "done",
              "type": "string"
            },
            {
              "id": "e710da67-faba-41be-861d-b17251346ace",
              "name": "ocr.queued_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.queued_at }}",
              "type": "string"
            },
            {
              "id": "f32688ec-3416-4b34-9236-e3789f460660",
              "name": "ocr.started_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.started_at }}",
              "type": "string"
            },
            {
              "id": "88e44d3b-517d-44bf-bd1a-28218737a30e",
              "name": "ocr.done_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "b38f46a9-101d-4a30-9c2c-eaaa3160256b",
              "name": "ocr.confidence",
              "value": "={{ $json.body.confidence }}",
              "type": "string"
            },
            {
              "id": "f85a9d33-1ccf-4b91-9a3a-16a200de7ef5",
              "name": "ocr.full_text",
              "value": "={{ $json.body.full_text }}",
              "type": "string"
            },
            {
              "id": "930325d3-06c0-47be-a29c-34b87e4db4df",
              "name": "ocr.summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "4bfd1590-ed9d-4055-a4a6-cfcf1de07c60",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        272
      ],
      "id": "f656cb01-7248-4d74-a676-bf51451d9037",
      "name": "OCR Done"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1056,
        272
      ],
      "id": "0442dadc-dcce-47a0-ae5a-801cd7c75c80",
      "name": "Update OCR Done in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08d14b73-8e27-4320-98e9-edce7160b32e",
              "name": "ocr.status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "bbbc3730-ea1a-45c2-8596-3fa36218dd7a",
              "name": "ocr.queued_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.queued_at }}",
              "type": "string"
            },
            {
              "id": "91a0d0fd-93e3-4b97-b837-1e1fea63214e",
              "name": "ocr.started_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.started_at }}",
              "type": "string"
            },
            {
              "id": "39303d0e-c253-40aa-8860-3a378d6cb60c",
              "name": "ocr.failed_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "30c7ccf1-90e9-4f3c-84fd-bdfb4abc9445",
              "name": "ocr.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "2d14fb94-e3db-4899-a60f-89af22c65370",
              "name": "ocr.statusMessage",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "59061a2a-e47d-4c7e-959b-70ca9a76a9d4",
              "name": "ocr.errorBody",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "78b4709e-e01a-4592-8b8b-075845dff34e",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        80
      ],
      "id": "1033d99a-b385-4709-b89c-bf8aa990a5df",
      "name": "Set OCR Error Message"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1280,
        80
      ],
      "id": "e4e4a247-0c7a-432b-ad6e-187f51ced2ac",
      "name": "Update OCR Error in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-08-25T07:55:50.001+09:00",
          "Readable date": "August 25th 2025, 7:55:50 am",
          "Readable time": "7:55:50 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "25",
          "Hour": "07",
          "Minute": "55",
          "Second": "50",
          "Timezone": "Asia/Seoul (UTC+09:00)"
        }
      }
    ]
  },
  "connections": {
    "Prepare OCR Binary": {
      "main": [
        [
          {
            "node": "Set OCR Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocOCR Request": {
      "main": [
        [
          {
            "node": "Is OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR Error?": {
      "main": [
        [
          {
            "node": "Set OCR Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Redis Stream": {
      "main": [
        [
          {
            "node": "Redis Message Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stream Message": {
      "main": [
        [
          {
            "node": "Pasre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Parse Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Redis Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Message Empty?": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasre": {
      "main": [
        [
          {
            "node": "Prepare OCR Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Final OCR Failure": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Running": {
      "main": [
        [
          {
            "node": "Update OCR Running",
            "type": "main",
            "index": 0
          },
          {
            "node": "DocOCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Done": {
      "main": [
        [
          {
            "node": "Update OCR Done in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Done in MongoDB": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Error Message": {
      "main": [
        [
          {
            "node": "Update OCR Error in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Error in MongoDB": {
      "main": [
        [
          {
            "node": "Log Final OCR Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Running": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "73122445-3bac-4824-a933-02d35b1493aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "sd77rWDAywE7D6k0",
  "tags": []
}