n8n_flows/modules/OCRWorker.json
{
  "name": "OCRWorker",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/dococr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        -48
      ],
      "id": "61596f08-960e-4bbe-91f6-7e4659c047a2",
      "name": "DocOCR Request"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2144,
        -48
      ],
      "id": "ff960edb-84ac-495f-9dfa-75219b964d2d",
      "name": "Prepare OCR Binary",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -800,
        48
      ],
      "id": "7a563340-6bab-4986-9913-07b1af4d410c",
      "name": "Update Ocr in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b38f46a9-101d-4a30-9c2c-eaaa3160256b",
              "name": "ocr.confidence",
              "value": "={{ $json.confidence }}",
              "type": "string"
            },
            {
              "id": "f85a9d33-1ccf-4b91-9a3a-16a200de7ef5",
              "name": "ocr.full_text",
              "value": "={{ $json.full_text }}",
              "type": "string"
            },
            {
              "id": "930325d3-06c0-47be-a29c-34b87e4db4df",
              "name": "ocr.summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "639ed159-cbad-45ba-a65d-2441e9b2c55d",
              "name": "=ocr.retry_count",
              "value": "={{ $json.retryCount }}",
              "type": "number"
            },
            {
              "id": "4bfd1590-ed9d-4055-a4a6-cfcf1de07c60",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        48
      ],
      "id": "8292456a-a16e-4688-a5f5-3fc7355d4306",
      "name": "Prepare OCR Fields"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -48
      ],
      "id": "4b3cf9b3-9008-4464-84a7-72d441c381f9",
      "name": "Wait Before OCR",
      "webhookId": "35f2856f-c33d-4e9e-ab3b-500d24635cb0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "896031b4-af44-4583-bd7c-c02d3bc3960d",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        -48
      ],
      "id": "f26d483e-aab3-4050-a072-fbbd82085f27",
      "name": "Init Retry Count"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83bfe59f-1079-4b5f-ab8c-b6240fa0cc7c",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -48
      ],
      "id": "912b034e-681c-42ad-8f60-18d92dfe2a9e",
      "name": "Is OCR Error?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d14fb94-e3db-4899-a60f-89af22c65370",
              "name": "ocr.error",
              "value": "={{ $json.userMessage }}",
              "type": "string"
            },
            {
              "id": "78b4709e-e01a-4592-8b8b-075845dff34e",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -144
      ],
      "id": "e1ffdb9c-b828-4ba3-aff9-3a7e1d2fa079",
      "name": "Set Final OCR Error Message"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-FAIL] failure {{ $('Pasre').item.json.file_path }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -800,
        -144
      ],
      "id": "c6b4be4b-11c9-4660-bdb7-97b55ad6d849",
      "name": "Log Final OCR Failure"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -144
      ],
      "id": "006935f9-f5b5-443d-899a-1736caede392",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Stream Message에서 온 값을 그대로 정리해서 반환\nreturn [\n  {\n    file_id: $json.file_id,\n    file_path: $json.file_path,\n    doc_id: $json.doc_id,\n    created_at: $json.created_at,\n    message_id: $json.message_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        -48
      ],
      "id": "5d7d14d9-2696-4d78-bb81-5d90db811d8c",
      "name": "Pasre"
    },
    {
      "parameters": {
        "command": "redis-cli XREADGROUP GROUP ocr_consumer_group worker-1 COUNT 1 BLOCK 5000 STREAMS ocr_stream \">\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3488,
        -48
      ],
      "id": "071f19f9-77f6-41f5-a8bd-28aac6cc2232",
      "name": "Read Redis Stream",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.raw_stdout;\n\n// stdout을 라인 단위로 분리\nconst lines = raw.split(\"\\n\").map(l => l.trim()).filter(l => l);\n\n// key-value 파싱\nlet data = {};\nfor (let i = 2; i < lines.length; i += 2) {\n  const key = lines[i];\n  const value = lines[i + 1];\n  if (key && value) {\n    data[key] = value;\n  }\n}\n\n// message_id 따로 추출\ndata[\"message_id\"] = lines[1] || \"\";\n\n// JSON 객체 반환\nreturn [ data ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        -48
      ],
      "id": "705ab81c-7baf-418a-93b1-75860ed89454",
      "name": "Parse Stream Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4792f95-f038-4b24-b00d-fdf5fa6afd59",
              "name": "raw_stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3040,
        -48
      ],
      "id": "bdade6c4-e53a-489b-82af-cbe74e9cf2f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3712,
        -48
      ],
      "id": "26308551-f6f0-4c21-934d-253b84657768",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8531a96f-3983-4fd7-9033-2d4fa7122020",
              "leftValue": "={{ $json.stdout.trim().length }}\n\n",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        -48
      ],
      "id": "1fab8bf6-bc21-4e4b-94d0-26d19f10c0aa",
      "name": "Redis Message Empty?"
    },
    {
      "parameters": {
        "command": "=redis-cli XACK ocr_stream ocr_consumer_group {{ $('Pasre').item.json.message_id }} && \\\nredis-cli XDEL ocr_stream {{ $('Pasre').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -576,
        -48
      ],
      "id": "4d1b1bec-72f3-49ec-ab07-c47f36e2bf7b",
      "name": "Delete Redis Stream Message"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-08-06T20:00:20.453-04:00",
          "Readable date": "August 6th 2025, 8:00:20 pm",
          "Readable time": "8:00:20 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "06",
          "Hour": "20",
          "Minute": "00",
          "Second": "20",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "connections": {
    "Prepare OCR Binary": {
      "main": [
        [
          {
            "node": "Wait Before OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocOCR Request": {
      "main": [
        [
          {
            "node": "Is OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OCR Fields": {
      "main": [
        [
          {
            "node": "Update Ocr in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OCR": {
      "main": [
        [
          {
            "node": "DocOCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Retry Count": {
      "main": [
        [
          {
            "node": "Prepare OCR Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR Error?": {
      "main": [
        [
          {
            "node": "Set Final OCR Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OCR Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Final OCR Error Message": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Log Final OCR Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Redis Stream": {
      "main": [
        [
          {
            "node": "Redis Message Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stream Message": {
      "main": [
        [
          {
            "node": "Pasre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Parse Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Redis Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Message Empty?": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasre": {
      "main": [
        [
          {
            "node": "Init Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ocr in MongoDB": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Final OCR Failure": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7"
  },
  "versionId": "8640ad0d-e641-4de0-9d59-1342647bde98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "sd77rWDAywE7D6k0",
  "tags": []
}