backend/n8n_flows/modules/DocMeta.json
{
  "name": "DocMeta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docmeta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        80
      ],
      "id": "24f9748d-0788-4ce3-ad05-16a8c54e15f6",
      "name": "DocMeta Webhook",
      "webhookId": "7fdf34d7-7dd7-474c-a534-34e5238f7f1e"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/tmp/{{$binary.file.fileName}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -64,
        80
      ],
      "id": "8888bd14-accf-4b0c-8c53-1e5eeee735a3",
      "name": "Save Upload to Temp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/enhanced_file_analyzer.js /data/tmp/\"{{$binary.file.fileName}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        176
      ],
      "id": "76dd11c5-a065-42f3-b644-fd3f9f0f1bfd",
      "name": "Run DocMeta Analyzer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($json.stdout);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        368
      ],
      "id": "c1716425-c4c8-4bba-8e5a-896ed96d6e00",
      "name": "Parse Analyzer Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"NO_BINARY_FILE\",\n  \"message\": \"No file received for DocMeta\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -288,
        -16
      ],
      "id": "0d2d6b03-6d9a-460f-8d66-cfdfe66048d5",
      "name": "Respond 400 BadRequest (NO_BINARY_FILE)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2e318dc-a3aa-43cd-be16-84a627174481",
              "leftValue": "={{ $json.fileName == undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        80
      ],
      "id": "1733da86-3878-446e-9ff2-b8d3811eaddf",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"SAVE_FAIL\",\n  \"message\": \"Failed to save file to temp directory\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        -16
      ],
      "id": "a84d0756-bddd-4c84-a280-bf9dbd5fa392",
      "name": "Respond 500 SaveFail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"ANALYZER_FAIL\",\n  \"message\": \"DocMeta Analyzer execution failed\",\n  \"stderr\": \"{{$json.stderr}}\"\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        176
      ],
      "id": "0d9b735b-a991-4fd4-94be-58abb8e2a2dc",
      "name": "Respond 500 AnalyzerFail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38124cd2-2ed8-4d62-90ce-d308d0c96a02",
              "leftValue": "={{ $json.exitCode !== 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        272
      ],
      "id": "a8013d7f-13cd-4cb6-a121-f024349342f0",
      "name": "Analyzed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3405ef5-dcfa-4a20-9caf-6f39f0178a63",
              "leftValue": "={{ $json.status && $json.status.toString().toLowerCase() === \"ok\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        296
      ],
      "id": "18439df7-9a57-49c5-b49e-f50d9a445e85",
      "name": "Parsed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ERROR\",\n  \"error\": \"INVALID_ANALYZER_OUTPUT\",\n  \"message\": \"Failed to parse analyzer output\",\n  \"raw\": \"{{$json.raw}}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1280,
        200
      ],
      "id": "85dbaa3f-cee6-4e0a-9231-9ac758276124",
      "name": "Respond 500 AnalyzerOutputFail"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2400,
        464
      ],
      "id": "453bb9d9-bd6f-404c-ba42-df846a6bd06e",
      "name": "Respond to DocMeta Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a6a9aba-3fd9-41c0-b335-5570fce61c6d",
              "leftValue": "={{ $binary.file !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        176
      ],
      "id": "8a013168-eb24-4eec-bb5f-cb1107521f9d",
      "name": "Binary Exist?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba08d112-b9d7-4eaf-86ac-fcdc55ad64b2",
              "leftValue": "={{ $binary.file === undefined && $json.body.path === undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        80
      ],
      "id": "68294e57-1933-4dc2-b36d-04964ff2048d",
      "name": "No Binary & No Path?"
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/enhanced_file_analyzer.js {{$json.body.path}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "fc9c1f3d-d4e8-4a59-90b5-6bf96737e7a0",
      "name": "Run DocMeta Analyzer with Path"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docsummary",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_text",
              "value": "={{ $json.extracted_text }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('DocMeta Webhook').first().json.body.owner_id }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('DocMeta Webhook').first().json.body.document_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        464
      ],
      "id": "30d615dc-0471-4179-9360-e0802898af9c",
      "name": "Summary Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "472a7bdd-40c0-4a38-a5b8-5faede965535",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        464
      ],
      "id": "bb33a9fe-1c22-4746-91ae-cdbaa78dd595",
      "name": "Summary Failed?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1952,
        416
      ],
      "id": "461925be-1f10-4cac-9b98-6d05586dacaa",
      "name": "Summary Error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        632
      ],
      "id": "c4b81fd3-d230-4954-8a90-18580261ac01",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590f8dcd-1783-41ed-bc70-8d8567dbd281",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            },
            {
              "id": "b1e0f002-bfad-47f5-b717-bb1317fa0cbd",
              "name": "extension",
              "value": "={{ $json.extension }}",
              "type": "string"
            },
            {
              "id": "9a6bb378-1cf7-49e7-b29e-1b54b97fd974",
              "name": "mime",
              "value": "={{ $json.mime }}",
              "type": "string"
            },
            {
              "id": "f2d44bdc-2ed6-4dae-8d54-4a708161ad20",
              "name": "size_bytes",
              "value": "={{ $json.size_bytes }}",
              "type": "number"
            },
            {
              "id": "a34a6166-6e21-4cf6-9bb6-8f1b9a1eace1",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "2baf1193-c33d-48c7-9eb8-8b035d9797ec",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "91c2775b-7537-4cb3-a608-ddff6ae3dc7d",
              "name": "exif",
              "value": "={{ $json.exif }}",
              "type": "object"
            },
            {
              "id": "63af33ae-ee4e-4ffe-bbaf-905845d5505e",
              "name": "pdf_pages",
              "value": "={{ $json.pdf_pages }}",
              "type": "number"
            },
            {
              "id": "623a35af-1a71-44b6-901c-ec2dd8170d63",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "84086ce8-65e1-47f5-adbb-ba7481168fcf",
              "name": "pdf_text_ratio",
              "value": "={{ $json.pdf_text_ratio }}",
              "type": "object"
            },
            {
              "id": "23e1dd54-af90-4a9a-8ad2-b3fa697b58c4",
              "name": "summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "1e8b0177-f8e2-466e-a599-455db39ed1e9",
              "name": "length",
              "value": "={{ $json.body.length }}",
              "type": "number"
            },
            {
              "id": "a7322fd2-ef0f-4958-b380-67ad0619d837",
              "name": "truncated",
              "value": "={{ $json.body.truncated }}",
              "type": "boolean"
            },
            {
              "id": "f8c3a9d1-2e4b-4c5f-a6d7-8e9f0a1b2c3d",
              "name": "tags",
              "value": "={{ $json.body.tags }}",
              "type": "array"
            },
            {
              "id": "e0e5fdab-2cb6-42bf-abd4-b2a880ffcb3f",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-a1b2-c3d4e5f67890",
              "name": "file_hash",
              "value": "={{ $json.file_hash }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        632
      ],
      "id": "73697a37-fb67-4816-85c0-72819d776a01",
      "name": "Response Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58691e6f-3f1c-4c10-a4a8-81e2703f3d92",
              "leftValue": "={{ $json.extracted_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        392
      ],
      "id": "5b43befb-7b8c-4012-bc8c-3685b147c25f",
      "name": "extracted_text Empty?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590f8dcd-1783-41ed-bc70-8d8567dbd281",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            },
            {
              "id": "b1e0f002-bfad-47f5-b717-bb1317fa0cbd",
              "name": "extension",
              "value": "={{ $json.extension }}",
              "type": "string"
            },
            {
              "id": "9a6bb378-1cf7-49e7-b29e-1b54b97fd974",
              "name": "mime",
              "value": "={{ $json.mime }}",
              "type": "string"
            },
            {
              "id": "f2d44bdc-2ed6-4dae-8d54-4a708161ad20",
              "name": "size_bytes",
              "value": "={{ $json.size_bytes }}",
              "type": "number"
            },
            {
              "id": "a34a6166-6e21-4cf6-9bb6-8f1b9a1eace1",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "2baf1193-c33d-48c7-9eb8-8b035d9797ec",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "91c2775b-7537-4cb3-a608-ddff6ae3dc7d",
              "name": "exif",
              "value": "={{ $json.exif }}",
              "type": "object"
            },
            {
              "id": "63af33ae-ee4e-4ffe-bbaf-905845d5505e",
              "name": "pdf_pages",
              "value": "={{ $json.pdf_pages }}",
              "type": "number"
            },
            {
              "id": "623a35af-1a71-44b6-901c-ec2dd8170d63",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "84086ce8-65e1-47f5-adbb-ba7481168fcf",
              "name": "pdf_text_ratio",
              "value": "={{ $json.pdf_text_ratio }}",
              "type": "object"
            },
            {
              "id": "23e1dd54-af90-4a9a-8ad2-b3fa697b58c4",
              "name": "summary",
              "value": "=null",
              "type": "string"
            },
            {
              "id": "1e8b0177-f8e2-466e-a599-455db39ed1e9",
              "name": "length",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "a7322fd2-ef0f-4958-b380-67ad0619d837",
              "name": "truncated",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "c70762fb-9980-4693-b176-2e816619da23",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-f5a6-7890-b1c2-d3e4f5a67890",
              "name": "file_hash",
              "value": "={{ $json.file_hash }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        272
      ],
      "id": "0d2df5a7-c338-4adc-87fd-7b6ad2ee8db9",
      "name": "Empty extracted_text Response Data"
    }
  ],
  "connections": {
    "DocMeta Webhook": {
      "main": [
        [
          {
            "node": "No Binary & No Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Upload to Temp": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analyzer Output": {
      "main": [
        [
          {
            "node": "Parsed?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 SaveFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Analyzer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed?": {
      "main": [
        [
          {
            "node": "Respond 500 AnalyzerOutputFail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "extracted_text Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary Exist?": {
      "main": [
        [
          {
            "node": "Save Upload to Temp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run DocMeta Analyzer with Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Binary & No Path?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest (NO_BINARY_FILE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Binary Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run DocMeta Analyzer with Path": {
      "main": [
        [
          {
            "node": "Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Request": {
      "main": [
        [
          {
            "node": "Summary Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Failed?": {
      "main": [
        [
          {
            "node": "Summary Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Data": {
      "main": [
        [
          {
            "node": "Respond to DocMeta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracted_text Empty?": {
      "main": [
        [
          {
            "node": "Empty extracted_text Response Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty extracted_text Response Data": {
      "main": [
        [
          {
            "node": "Respond to DocMeta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  }
}
