backend/n8n_flows/modules/DocOCR.json
{
  "name": "DocOCR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dococr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1504,
        256
      ],
      "id": "bb4ab89e-50d6-4c85-9eda-9fb972791b5a",
      "name": "Webhook",
      "webhookId": "94082f79-7eb0-43ae-a2f3-f5ee6df4508f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-digitization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_CuatSnZ5jDDHsJNPLByxijBXdmw0A"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        256
      ],
      "id": "348b8c30-b373-471f-9202-b4f473be9581",
      "name": "Upstage OCR Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        64,
        448
      ],
      "id": "011ec153-7d34-425d-8d23-5d04ae3d1afa",
      "name": "OCR Return"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06f9dac1-41cb-431c-82d2-89442ea95d2f",
              "name": "status",
              "value": 200,
              "type": "number"
            },
            {
              "id": "190663a3-c22e-4898-adc5-ffeec967f1c3",
              "name": "error",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e56ad864-a5c5-47e5-9cc7-273a1efc535a",
              "name": "userMessage",
              "value": "OCR 성공",
              "type": "string"
            },
            {
              "id": "d559f40e-b6ea-4130-a0fd-08162593a608",
              "name": "confidence",
              "value": "={{ $('Normalize DocOCR Response').item.json.confidence }}",
              "type": "string"
            },
            {
              "id": "0011e81a-1325-4aec-bb16-92a5a4339713",
              "name": "summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-1234-56789abcdef0",
              "name": "tags",
              "value": "={{ $json.body.tags }}",
              "type": "array"
            },
            {
              "id": "036c0855-0625-4fc1-b215-829de0cca462",
              "name": "full_text",
              "value": "={{ $('Normalize DocOCR Response').item.json.full_text }}",
              "type": "string"
            },
            {
              "id": "page-count-field-001",
              "name": "num_pages",
              "value": "={{ $('Normalize DocOCR Response').item.json.num_pages ?? 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        448
      ],
      "id": "5bb793c3-568c-45dd-aecc-21de33755f34",
      "name": "Set OCR Success Response"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\n// 기본값 (정상 응답)\nlet error = false;\nlet status = 200;\nlet userMessage = \"OCR 성공\";\nlet confidence = response.body.confidence ?? null;\nlet summary = response.body.summary ?? null;\nlet tags = response.body.tags ?? [];\nlet full_text = response.body.text ?? null;\nlet num_pages = response.body.numBilledPages ?? null;\n\n// 에러 구조가 들어온 경우 (객체/true)\nif (response.error && response.error !== false) {\n  error = true;\n  status = response.status ?? response.error.status ?? 500;\n  let msg = response.error.message ?? response.userMessage ?? \"❌ OCR 처리 실패\";\n  try {\n    const match = msg.match(/{.*}/);\n    if (match) {\n      const parsed = JSON.parse(match[0]);\n      if (parsed.error && parsed.error.message) {\n        msg = parsed.error.message;\n      }\n    }\n  } catch(e) {}\n  userMessage = msg;\n\n  // 에러일 땐 데이터 필드만 null로 (정상값 절대 날리지 않음)\n  confidence = null;\n  summary = null;\n  tags = [];\n  full_text = null;\n  num_pages = null;\n}\n\nreturn [{\n  json: {\n    error,        // boolean\n    status,       // int\n    userMessage,  // string\n    confidence,   // float|null\n    summary,      // string|null\n    tags,         // array\n    full_text,    // string|null\n    num_pages,    // int|null\n\n    // 반드시 pages 필드 포함!\n    pages: response.body.pages ?? (response.body.metadata?.pages ?? []),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        352
      ],
      "id": "5adaf7ef-8abc-4ba7-b828-eb6f81fd663f",
      "name": "Normalize DocOCR Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd0596c6-babe-4e04-bfc4-f40e118f2990",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        256
      ],
      "id": "c85dded6-7108-414c-aa52-1d7d7bae7289",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -832,
        160
      ],
      "id": "ccfbb9ca-bdba-471e-a50c-b5e0844a9c80",
      "name": "OCR Error Return"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docsummary",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_text",
              "value": "={{ $json.full_text }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Webhook').first().json.body.owner_id }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('Webhook').first().json.body.document_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        352
      ],
      "id": "8ddcdffb-bafa-4b8b-9675-cf9ab95e4cf8",
      "name": "Summary Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "472a7bdd-40c0-4a38-a5b8-5faede965535",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        352
      ],
      "id": "cda33aca-8deb-4664-8fae-68f3b71f8707",
      "name": "Summary Failed?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        256
      ],
      "id": "887a754e-143f-46e9-be04-eafb80edcfb6",
      "name": "Summary Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upstage OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage OCR Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Success Response": {
      "main": [
        [
          {
            "node": "OCR Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize DocOCR Response": {
      "main": [
        [
          {
            "node": "Summary Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OCR Error Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize DocOCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Request": {
      "main": [
        [
          {
            "node": "Summary Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Failed?": {
      "main": [
        [
          {
            "node": "Summary Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set OCR Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  }
}
