backend/n8n_flows/modules/DocReadAI.json
{
  "name": "DocReadAI",
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docreadai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        -40
      ],
      "id": "cf85026b-5a71-427a-99a4-8ad5b932c5d7",
      "name": "DocReadAI Webhook",
      "webhookId": "32139984-6d2d-439c-b0e9-2ead0ebf35bb"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.body.path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        128
      ],
      "id": "7e57fc9f-b38e-4fe0-8203-e405d7f46620",
      "name": "Load File for AI Input",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        -328
      ],
      "id": "858d8b45-2b20-42ca-9057-dcfd6b60319d",
      "name": "Create Assistant Thread",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "purpose",
              "value": "assistants"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        128
      ],
      "id": "100780fc-e531-4489-aada-b7cf9fb6c1dd",
      "name": "Upload File to OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role\": \"user\",\n  \"content\": \"이 문서를 한국어로 읽고 다음 두 가지를 생성해 주세요:\\n\\n1. full_text: 전체 문서 내용을 충실히 이해한 요약본 (너무 길지 않게 약 4000자 이내)\\n2. summary: 핵심 요약 (전체 요약에서 중요한 포인트만 압축)\\n\\n출력은 JSON 형식으로 다음과 같이 반환하세요:\\n\\n{\\n  \\\"full_text\\\": \\\"...\\\",\\n  \\\"summary\\\": \\\"...\\\"\\n}\",\n   \"attachments\": [\n    {\n      \"file_id\": \"{{ $json.id }}\",\n      \"tools\": [{ \"type\": \"file_search\" }]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        -112
      ],
      "id": "8f6f15ad-c57e-4d77-933e-475f27b4d59b",
      "name": "Send Message to Thread",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistant_id\": \"asst_CJs1gHIIVRD0epRh9nsR0Wgv\",\n  \"instructions\": \"Summarize the document.\",\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"vs_688a204d738481918e2d2f35cb8517a7\"]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        -112
      ],
      "id": "9d4be1f6-62f2-4c05-ada2-00f3c6a02ebe",
      "name": "Run Assistant",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $(\"Run Assistant\").first().json.thread_id }}/runs/{{ $(\"Run Assistant\").first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        -112
      ],
      "id": "51244705-4cb7-480c-9470-aead29f09979",
      "name": "Get Run Result",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $('Run Assistant').first().json.thread_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        -232
      ],
      "id": "e8efb1cb-052b-49ed-80e9-c24ec5f7f44f",
      "name": "Get Final Response",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4128,
        -400
      ],
      "id": "fa3adda8-e6b1-40d7-afc7-54f38ffd4b47",
      "name": "Respond to DocReadAI Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/vector_stores/vs_688a204d738481918e2d2f35cb8517a7/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_id\": \"{{ $json.uploaded_file_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        224
      ],
      "id": "c33a4480-0f33-4673-9062-7add1f69f594",
      "name": "Attach File to VectorStore",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2112,
        80
      ],
      "id": "e5c830ea-7ba5-4cc6-8395-7d2545207268",
      "name": "Wait",
      "webhookId": "b2cfee9d-6f02-43f8-b0fa-ba86eee5fc44"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/vector_stores/vs_688a204d738481918e2d2f35cb8517a7/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        80
      ],
      "id": "8f4c3c4b-3d5d-4fb3-a10a-986a6d3e51bb",
      "name": "Check File Indexing Status",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"uploaded_file_id\": \"{{ $json.id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        128
      ],
      "id": "7abe1bf3-497c-4d0b-b916-e5dc23c77bb4",
      "name": "Save Uploaded File ID"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "uploaded_file_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        56
      ],
      "id": "3f3d3866-6421-4f46-9a0d-2a1c784a20d2",
      "name": "Merge Uploaded ID with Index Status"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"retry\": 1\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        128
      ],
      "id": "ab2225f1-3f4d-4eb4-97cc-4c764b1f8151",
      "name": "Set Retry Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c8dc6b-d57f-4282-a9ae-061a69edf792",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -112
      ],
      "id": "42713448-74fc-44dc-81e0-27f15b5c1c4a",
      "name": "Is Indexing Completed?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"uploaded_file_id\": \"{{ $json.uploaded_file_id }}\",\n  \"retry\": 1\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -328
      ],
      "id": "1cb7a829-3fc0-4e04-a01c-7171da470cef",
      "name": "Keep uploaded_file_id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        128
      ],
      "id": "ff143a60-87f9-4213-8f10-f7dd2f892366",
      "name": "Merge uploaded_file_id with Attach Response"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(d => ({ json: d }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        152
      ],
      "id": "32821287-c74e-410a-af13-4881cc4d2054",
      "name": "Extract Indexed File Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "589d9fe3-07db-4c3c-bd62-9ff8debd2ab6",
              "name": "thread_id",
              "value": "={{ $('Create Assistant Thread').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -112
      ],
      "id": "9a644788-b2b0-47b0-bc6e-07684e0c1adf",
      "name": "Set Thread ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0c4386b-d2a9-435a-b756-80c350c3e02f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        -184
      ],
      "id": "2830c772-abe5-40ef-99d0-923f33c32909",
      "name": "Is Run Completed?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3232,
        -16
      ],
      "id": "f79ffd34-b132-4019-9f76-8a854755ed79",
      "name": "Wait Before Recheck Run",
      "webhookId": "18614bd1-4ec9-447c-b63a-4734a887c493"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"_id\": \"{{ $json.body._id }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -40
      ],
      "id": "76bc66a0-ed93-4668-8e64-c8a6bfbc23ef",
      "name": "Keep _id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3680,
        -400
      ],
      "id": "9ad24e81-f63e-4381-9c1e-50630361a76e",
      "name": "Merge _id with AI Response"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.data[0].content[0].text.value;\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        -232
      ],
      "id": "8157797d-a9e9-4ccc-87a5-57ae9670edb3",
      "name": "Extract AI Output JSON"
    },
    {
      "parameters": {
        "jsCode": "const {_id, full_text, summary} = $json;\nreturn [\n  {\n    json: {\n      _id,\n      ai: {\n        full_text: full_text.slice(0, 4000),\n        summary\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        -400
      ],
      "id": "6c9a654c-75d2-44b4-b0a3-d33d0cc7fee6",
      "name": "Build Final Summary JSON"
    }
  ],
  "connections": {
    "DocReadAI Webhook": {
      "main": [
        [
          {
            "node": "Keep _id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load File for AI Input": {
      "main": [
        [
          {
            "node": "Upload File to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to OpenAI": {
      "main": [
        [
          {
            "node": "Save Uploaded File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message to Thread": {
      "main": [
        [
          {
            "node": "Run Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Assistant": {
      "main": [
        [
          {
            "node": "Get Run Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Result": {
      "main": [
        [
          {
            "node": "Is Run Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Response": {
      "main": [
        [
          {
            "node": "Extract AI Output JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach File to VectorStore": {
      "main": [
        [
          {
            "node": "Merge uploaded_file_id with Attach Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check File Indexing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Indexing Status": {
      "main": [
        [
          {
            "node": "Extract Indexed File Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Uploaded File ID": {
      "main": [
        [
          {
            "node": "Set Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Uploaded ID with Index Status": {
      "main": [
        [
          {
            "node": "Is Indexing Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Retry Counter": {
      "main": [
        [
          {
            "node": "Keep uploaded_file_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach File to VectorStore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Indexing Completed?": {
      "main": [
        [
          {
            "node": "Create Assistant Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Thread ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep uploaded_file_id": {
      "main": [
        [
          {
            "node": "Merge uploaded_file_id with Attach Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge uploaded_file_id with Attach Response": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Uploaded ID with Index Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Indexed File Items": {
      "main": [
        [
          {
            "node": "Merge Uploaded ID with Index Status",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Thread ID": {
      "main": [
        [
          {
            "node": "Send Message to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Run Completed?": {
      "main": [
        [
          {
            "node": "Get Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Recheck Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Recheck Run": {
      "main": [
        [
          {
            "node": "Get Run Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep _id": {
      "main": [
        [
          {
            "node": "Load File for AI Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge _id with AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge _id with AI Response": {
      "main": [
        [
          {
            "node": "Build Final Summary JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Output JSON": {
      "main": [
        [
          {
            "node": "Merge _id with AI Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Final Summary JSON": {
      "main": [
        [
          {
            "node": "Respond to DocReadAI Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "meta": null,
  "pinData": {},
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-30T12:07:09.805Z",
      "updatedAt": "2025-07-30T12:07:09.805Z",
      "role": "workflow:owner",
      "workflowId": "199Frc7wzvgtWS7N",
      "projectId": "09282RsGeMMUJreV",
      "project": {
        "createdAt": "2025-07-28T21:14:12.127Z",
        "updatedAt": "2025-07-28T21:15:56.913Z",
        "id": "09282RsGeMMUJreV",
        "name": "Rossi Kwak <rossi.kwak@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-28T21:14:12.127Z",
            "updatedAt": "2025-07-28T21:14:12.127Z",
            "userId": "a4b5c740-6fbe-4570-be7b-3303a289b792",
            "projectId": "09282RsGeMMUJreV",
            "user": {
              "createdAt": "2025-07-28T21:14:10.836Z",
              "updatedAt": "2025-12-27T16:12:17.000Z",
              "id": "a4b5c740-6fbe-4570-be7b-3303a289b792",
              "email": "rossi.kwak@gmail.com",
              "firstName": "Rossi",
              "lastName": "Kwak",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-28T21:16:00.455Z",
                "personalization_survey_n8n_version": "1.100.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "nOAbvrST5mG0ksJt",
                "userActivatedAt": 1753746589786,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1755591450515
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
