backend/n8n_flows/modules/DocSummary.json
{
  "name": "DocSummary",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"summary\": \"{{ $json.limitedText }}\"\n}",
        "options": {
          "systemMessage": "=당신은 Text 요약 및 태그 추출 AI입니다.\n\n입력은 JSON 형식으로 4가지가 제공됩니다:\n- full_text: 원문\n- limitedText: 제한된 글자수 원문 (앞 5000자만 잘라서 요약에 사용)\n- length : limitedText의 크기\n- truncated: 5000자로 제한할때 원문이 잘렸는지 여부\n\n아래 JSON 형식으로 반환하세요.\n\n{\n  \"summary\": \"<limitedText 내용을 3~5줄로 요약>\",\n  \"tags\": [\"<핵심 키워드1>\", \"<핵심 키워드2>\", \"<핵심 키워드3>\", ...]\n}\n\ntags 배열에는 문서의 핵심 키워드를 5~15개 포함하세요.\n문서가 간단하면 5개, 복잡하면 15개까지 문서 복잡도에 따라 적절한 개수를 추출하세요.\n예: 고객명, 문서유형, 보험사명, 날짜, 지역, 진단명, 금액, 병원명, 치료내용, 청구항목 등"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        -144
      ],
      "id": "7def9a63-3d63-424d-ac0d-0bb5f6eb37b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3010/api/ai-usage/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "aims-internal-token-logging-key-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Summary Request').first().json.body.user_id || 'n8n_docsummary', source: 'n8n_docsummary', model: 'gpt-4.1-mini', prompt_tokens: Math.ceil(($('LimitText').first().json.limitedText || '').length / 4), completion_tokens: Math.ceil(($json.output || '').length / 4), metadata: { document_id: $('Summary Request').first().json.body.document_id || null, workflow: 'DocSummary' } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        424,
        -24
      ],
      "id": "token-log-node",
      "name": "Log Token Usage"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        80
      ],
      "id": "2607be1c-99a2-4a84-aff1-3ada21b0353a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yC6LpoMbPIyu7vwv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.body.full_text || '';\n\n// 길이 확인\nconst length = text.length;\n\n// 앞 5000자만 잘라서 요약에 사용\nconst limitedText = text.substring(0, 5000);\n\nreturn [{\n  json: {\n    full_text: text,\n    limitedText,\n    length,\n    truncated: text.length > 5000\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -144
      ],
      "id": "dd057cae-2162-4e90-b3ca-5f5689a82406",
      "name": "LimitText"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        -144
      ],
      "id": "45305619-f560-4766-8086-ce33c00dd0b5",
      "name": "Summary Return"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $json.output;\n\n// 1. output이 문자열이면 파싱 시도\nif (typeof aiOutput === \"string\") {\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (e) {\n    // 파싱 실패하면 그대로 둠\n  }\n}\n\n// 2. summary 텍스트 결정\nlet summary = \"\";\nlet tags = [];\n\nif (typeof aiOutput === \"object\" && aiOutput !== null) {\n  summary = aiOutput.summary || String(aiOutput);  // JSON 객체 안에 summary 키가 있는 경우\n  tags = aiOutput.tags || [];                       // tags 배열 추출 (없으면 빈 배열)\n} else {\n  summary = String(aiOutput);                       // 그냥 문자열인 경우\n}\n\n// 3. summary, length, truncated, tags를 리턴\nreturn [{\n  json: {\n    summary,\n    length: summary.length,\n    truncated: $('LimitText').first().json.truncated,\n    tags\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -144
      ],
      "id": "f497793d-532b-48d8-8124-8f79b804388a",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsummary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -144
      ],
      "id": "62cc16ee-18f5-4ff0-aa9f-9b80400bc393",
      "name": "Summary Request",
      "webhookId": "94082f79-7eb0-43ae-a2f3-f5ee6df4508f"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Log Token Usage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LimitText": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Summary Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Request": {
      "main": [
        [
          {
            "node": "LimitText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3586e857-2506-4102-91eb-4b9ce99730c6",
  "meta": {
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "yl0wALuJYN67vPoa",
  "tags": []
}