backend/n8n_flows/modules/DocUpload.json
{
  "name": "DocUpload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docupload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2976,
        -208
      ],
      "id": "388a648e-49a0-4dc1-80e2-53d66ccd84e0",
      "name": "DocUpload Webhook",
      "webhookId": "50122c31-3902-422e-8008-c1f4996aba74"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{\"/data/tmp/upload_\" + $now.toString().replace(/[^0-9A-Za-z]/g,'') + \"_\" + Math.random().toString(36).slice(2,8)}}",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2304,
        -112
      ],
      "id": "fa65ea55-779e-469f-972f-b1d335412219",
      "name": "Save to Temp File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function generateSafePath() {\n  const now = new Date();\n  const yyyy = now.getFullYear();\n  const mm = ('0' + (now.getMonth() + 1)).slice(-2);\n  const dd = ('0' + now.getDate()).slice(-2);\n  const hh = ('0' + now.getHours()).slice(-2);\n  const min = ('0' + now.getMinutes()).slice(-2);\n  const ss = ('0' + now.getSeconds()).slice(-2);\n\n  const timestamp = `${String(yyyy).slice(-2)}${mm}${dd}${hh}${min}${ss}`;\n\n  // 랜덤 토큰\n  const token = Math.random().toString(36).slice(2, 10);\n\n  // 원본 파일명 (없으면 unknown)\n  const originalName = items[0].binary.file?.fileName?.replace(/[\\n\\r]/g, '') || 'unknown';\n  \n  const sourcePath = $('File Exist?').first().json.body.source_path;\n\n  // 확장자 파싱 실패 시 빈 문자열\n  let ext = '';\n  const extMatch = originalName.match(/\\.[0-9A-Za-z]+$/);\n  if (extMatch) ext = extMatch[0];\n\n  const saveName = `${timestamp}_${token}${ext}`;\n  const folder = `/data/files/${yyyy}/${mm}`;\n  const destPath = `${folder}/${saveName}`;\n\n  return { folder, destPath, saveName, sourcePath, originalName };\n}\n\nfunction safeGenerateFinalPath(maxRetry = 5) {\n  let lastError = null;\n\n  for (let i = 0; i < maxRetry; i++) {\n    try {\n      const pathData = generateSafePath();\n      // folder/destPath가 유효하면 성공\n      if (pathData.folder && pathData.destPath) {\n        return pathData;\n      }\n    } catch (e) {\n      lastError = e; // 실패하면 다음 재시도\n    }\n  }\n\n  // 모든 재시도 실패 → fallback 강제 생성\n  const fallbackName = `unknown_${Date.now()}`;\n  return {\n    folder: `/data/files/fallback`,\n    destPath: `/data/files/fallback/${fallbackName}`,\n    saveName: fallbackName,\n    sourcePath: 'unknown',\n    originalName: 'unknown'\n  };\n}\n\n// 최종 반환 (항상 성공)\nreturn [ { json: safeGenerateFinalPath(5) } ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -16
      ],
      "id": "f5ef35ed-1053-4653-8500-bdc1b42758a8",
      "name": "Generate Final Path"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{$json[\"folder\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1632,
        -88
      ],
      "id": "12a16ae9-8fe5-4b97-9249-aff9f6d710ae",
      "name": "Exec mkdir",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=mv {{ $('Save to Temp File').item.json.fileName }} {{$node[\"Generate Final Path\"].json[\"destPath\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -960,
        80
      ],
      "id": "8a5b40ed-a35f-48dc-886e-41eb70bb149c",
      "name": "Exec mv",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"success\",\n  \"original\": \"{{$node['Generate Final Path'].json['originalName']}}\",\n  \"sourcePath\":\"{{$node[\"Generate Final Path\"].json[\"sourcePath\"]  || \"\"}}\",\n  \"saved_name\": \"{{$node['Generate Final Path'].json['saveName']}}\",\n  \"path\": \"{{$node['Generate Final Path'].json['destPath']}}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -512,
        176
      ],
      "id": "8cf951d1-2701-4d6f-89e9-20d991a25c45",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate uploaded file existence\nconst fileName = $binary.file.fileName;\n\n// Validate uploaded file existence\nif (!$binary?.file) {\n  console.log(\"DEBUG fileName:\", fileName);\n  return [\n    {\n      json: {\n        error: true,\n        code: \"REQUEST_INVALID\",\n        message: \"No file received or parse error (fileName=\"+fileName+\")\"\n      }\n    }\n  ];\n}\n\n// 정상일 때 (테스트 모드라 실행 안 됨)\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        -208
      ],
      "id": "a6e840b8-8cef-4a61-9cb3-d256c94772a8",
      "name": "Check Binary File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"{{$json.code}}\",\n  \"message\": \"{{$json.message}}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2304,
        -304
      ],
      "id": "23131c80-084b-452a-9d7d-dc1bd8e725e4",
      "name": "Respond 400 BadRequest"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"TEMP_SAVE_FAILED\",\n  \"message\": \"Failed to save file({{$binary.file.fileName}}) to temp storage({{ $json.fileName }})\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1856,
        -208
      ],
      "id": "75ca485a-021d-4113-ad20-e374f5b55a1c",
      "name": "Respond 500 Temp Save Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e1ae6da-0a84-4689-9e4d-e8a4ea783ae2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2080,
        -112
      ],
      "id": "59a80632-e659-4ead-a384-f217ac01e022",
      "name": "Save Error?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d8eef84-63a9-4140-8330-d24d19158fba",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2528,
        -208
      ],
      "id": "3e494838-b39a-4767-9469-a9153a708f87",
      "name": "File Exist?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"MKDIR_FAILED\",\n  \"message\": \"{{$json.stderr}} folder({{ $json.folder }})\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -960,
        -112
      ],
      "id": "48d57e21-2094-44c0-ac04-edb701ef5bd8",
      "name": "Respond 500 MKDIR_FAILED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4fe2b38-08a1-4b37-88e5-3a9731295ab8",
              "leftValue": "={{$json.exitCode}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        -16
      ],
      "id": "68858798-22e4-4f06-a8f9-5393696d571c",
      "name": "Mkdir Error?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c053a19-c78b-448d-b2ab-e3d107b98e7f",
              "leftValue": "={{$json.exitCode}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        80
      ],
      "id": "5594dbbe-645a-4b58-89d1-f83a14a17533",
      "name": "Mv Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"error\",\n  \"code\": \"MOVE_FAILED\",\n  \"message\": \"{{$json.stderr}} mv ({{$node[\"Temp+FinalPath\"].json[\"fileName\"]}}) to ({{$node[\"Temp+FinalPath\"].json[\"destPath\"]}})\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -512,
        -16
      ],
      "id": "26036b95-3292-4e1d-80cd-63ed1387a2e4",
      "name": "Respond 500 MOVE_FAILED"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1408,
        -16
      ],
      "id": "2b15d83c-7b63-40a3-8b4b-6901241d1e3e",
      "name": "mkdir+Final Path"
    }
  ],
  "pinData": {},
  "connections": {
    "DocUpload Webhook": {
      "main": [
        [
          {
            "node": "Check Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Temp File": {
      "main": [
        [
          {
            "node": "Save Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Path": {
      "main": [
        [
          {
            "node": "Exec mkdir",
            "type": "main",
            "index": 0
          },
          {
            "node": "mkdir+Final Path",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Exec mkdir": {
      "main": [
        [
          {
            "node": "mkdir+Final Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec mv": {
      "main": [
        [
          {
            "node": "Mv Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Binary File": {
      "main": [
        [
          {
            "node": "File Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error?": {
      "main": [
        [
          {
            "node": "Respond 500 Temp Save Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Final Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exist?": {
      "main": [
        [
          {
            "node": "Respond 400 BadRequest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mkdir Error?": {
      "main": [
        [
          {
            "node": "Respond 500 MKDIR_FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exec mv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mv Error?": {
      "main": [
        [
          {
            "node": "Respond 500 MOVE_FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mkdir+Final Path": {
      "main": [
        [
          {
            "node": "Mkdir Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "b8a3525d-d923-425a-b702-665dbfe29a63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "eg09B1KNSHi8pvpJ",
  "tags": []
}