backend/n8n_flows/modules/ErrorLogger.json
{
  "name": "ErrorLogger",
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        176
      ],
      "id": "42702fdb-4b7c-4b44-b853-8481841a0e81",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZkibKi2jYrlyxsyjIfhPgMvD9Msh8NJuwZWtb278H9s",
          "mode": "list",
          "cachedResultName": "n8n error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZkibKi2jYrlyxsyjIfhPgMvD9Msh8NJuwZWtb278H9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZkibKi2jYrlyxsyjIfhPgMvD9Msh8NJuwZWtb278H9s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd hh:mma') }}",
            "Workflow": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "Node": "={{ $json.execution.error.node.name }}",
            "Error Message": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        464,
        -16
      ],
      "id": "696a34ea-6da0-4c6c-bd09-c68e42cb7f47",
      "name": "Log Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dCdWUl5fCILmjTuu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0990JWV01H",
          "mode": "list",
          "cachedResultName": "aims"
        },
        "text": "=Workflow Error: {{ $json.workflow.name }}\n\n{{ $json.execution.error.node.name }} errored at {{ $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd hh:mma') }}\n\nThe error message was: {{ $json.execution.error.message }}\n\nSee this execution here: {{ $json.execution.url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        464,
        176
      ],
      "id": "0c43bdad-f48a-4220-a890-c12bde8ea60e",
      "name": "Send a message",
      "webhookId": "96aaa491-8f44-4683-973c-af781a8c9219",
      "credentials": {
        "slackOAuth2Api": {
          "id": "5xEIz4iufbt5DwKx",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3010/api/system-logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"level\": \"error\",\n  \"source\": {\n    \"type\": \"backend\",\n    \"component\": \"n8n/{{ $json.workflow.name }}\"\n  },\n  \"message\": \"[n8n] {{ $json.workflow.name }} - {{ $json.execution.error.node.name }}: {{ $json.execution.error.message }}\",\n  \"data\": {\n    \"workflow_name\": \"{{ $json.workflow.name }}\",\n    \"workflow_id\": \"{{ $json.workflow.id }}\",\n    \"node_name\": \"{{ $json.execution.error.node.name }}\",\n    \"node_type\": \"{{ $json.execution.error.node.type }}\",\n    \"execution_id\": \"{{ $json.execution.id }}\",\n    \"execution_url\": \"{{ $json.execution.url }}\"\n  },\n  \"context\": {\n    \"request_id\": \"n8n-{{ $json.execution.id }}\"\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        368
      ],
      "id": "a1b2c3d4-e5f6-4a5b-9c8d-7e6f5a4b3c2d",
      "name": "Log to AIMS",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to AIMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-06T00:34:36.536Z",
      "updatedAt": "2025-08-06T00:34:36.536Z",
      "role": "workflow:owner",
      "workflowId": "pbOS7kBxmfv07Cb7",
      "projectId": "09282RsGeMMUJreV",
      "project": {
        "createdAt": "2025-07-28T21:14:12.127Z",
        "updatedAt": "2025-07-28T21:15:56.913Z",
        "id": "09282RsGeMMUJreV",
        "name": "Rossi Kwak <rossi.kwak@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-28T21:14:12.127Z",
            "updatedAt": "2025-07-28T21:14:12.127Z",
            "userId": "a4b5c740-6fbe-4570-be7b-3303a289b792",
            "projectId": "09282RsGeMMUJreV",
            "user": {
              "createdAt": "2025-07-28T21:14:10.836Z",
              "updatedAt": "2025-12-27T16:12:17.000Z",
              "id": "a4b5c740-6fbe-4570-be7b-3303a289b792",
              "email": "rossi.kwak@gmail.com",
              "firstName": "Rossi",
              "lastName": "Kwak",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-28T21:16:00.455Z",
                "personalization_survey_n8n_version": "1.100.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "nOAbvrST5mG0ksJt",
                "userActivatedAt": 1753746589786,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1755591450515
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
