backend/n8n_flows/modules/OCRWorker.json
{
  "name": "OCRWorker",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/dococr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "owner_id",
              "value": "={{ $('Pasre').item.json.owner_id }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('Pasre').item.json.doc_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -128
      ],
      "id": "af9f7217-9838-484f-96d2-21638cace94e",
      "name": "DocOCR Request"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Pasre').item.json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -752,
        -224
      ],
      "id": "41e35d93-7643-4f05-825d-2c66e11cf482",
      "name": "Prepare OCR Binary",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83bfe59f-1079-4b5f-ab8c-b6240fa0cc7c",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -128
      ],
      "id": "68054290-ba9a-4b91-83b3-011c25159f4b",
      "name": "Is OCR Error?"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-FAIL] failure {{ $('Pasre').item.json.file_path }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        592,
        -224
      ],
      "id": "99d2a82d-7e8a-4ae4-8bad-151d38fac723",
      "name": "Log Final OCR Failure"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stream Message에서 온 값을 그대로 정리해서 반환\nreturn [\n  {\n    file_id: $json.file_id,\n    file_path: $json.file_path,\n    doc_id: $json.doc_id,\n    owner_id: $json.owner_id,\n    queued_at: $json.queued_at,\n    message_id: $json.message_id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -224
      ],
      "id": "38e2bec0-2215-4890-9c01-723ed4c6b46e",
      "name": "Pasre"
    },
    {
      "parameters": {
        "command": "=node /data/aims/tools/mime_type_analyzer/file_analyzer.js \"{{ $('Pasre').item.json.file_path }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -976,
        -224
      ],
      "id": "get-page-count-001",
      "name": "Get Page Count",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const output = JSON.parse($json.stdout);\n  return [{ \n    page_count: output.pdf_pages || 1,\n    file_path: $('Pasre').item.json.file_path,\n    owner_id: $('Pasre').item.json.owner_id,\n    doc_id: $('Pasre').item.json.doc_id,\n    file_id: $('Pasre').item.json.file_id,\n    ...output \n  }];\n} catch(e) {\n  return [{ page_count: 1, error: e.message }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -224
      ],
      "id": "parse-page-count-001",
      "name": "Parse Page Count"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aims.giize.com/api/internal/ocr/check-quota",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"owner_id\": $('Pasre').item.json.owner_id, \"page_count\": $json.page_count } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        -224
      ],
      "id": "check-ocr-quota-001",
      "name": "Check OCR Quota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-exceeded-condition-001",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -224
      ],
      "id": "is-quota-exceeded-001",
      "name": "Is Quota Exceeded?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "quota-exceeded-status-001",
              "name": "ocr.status",
              "value": "quota_exceeded",
              "type": "string"
            },
            {
              "id": "quota-exceeded-reason-001",
              "name": "ocr.quota_message",
              "value": "={{ $('Check OCR Quota').item.json.reason }}: 현재 {{ $('Check OCR Quota').item.json.current_usage }}p / {{ $('Check OCR Quota').item.json.quota }}p, 요청 {{ $('Check OCR Quota').item.json.requested }}p",
              "type": "string"
            },
            {
              "id": "quota-exceeded-id-001",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            },
            {
              "id": "quota-exceeded-overall-status-001",
              "name": "overallStatus",
              "value": "error",
              "type": "string"
            },
            {
              "id": "quota-exceeded-stage-status-001",
              "name": "stages.ocr.status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "quota-exceeded-stage-message-001",
              "name": "stages.ocr.message",
              "value": "OCR 한도 초과",
              "type": "string"
            },
            {
              "id": "quota-exceeded-stage-timestamp-001",
              "name": "stages.ocr.timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -320
      ],
      "id": "set-quota-exceeded-001",
      "name": "Set Quota Exceeded"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "ocr,overallStatus,stages",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -416,
        -320
      ],
      "id": "update-quota-exceeded-001",
      "name": "Update Quota Exceeded",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3010/api/webhooks/document-processing-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aims_n8n_webhook_secure_key_2025_v1_a7f3e9d2c1b8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"document_id\": $('Pasre').item.json.doc_id, \"status\": \"quota_exceeded\", \"owner_id\": $('Pasre').item.json.owner_id } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -320
      ],
      "id": "notify-quota-exceeded-001",
      "name": "Notify Quota Exceeded"
    },
    {
      "parameters": {
        "command": "=redis-cli XACK ocr_stream ocr_consumer_group {{ $('Pasre').item.json.message_id }} && redis-cli XDEL ocr_stream {{ $('Pasre').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -192,
        -320
      ],
      "id": "delete-redis-quota-exceeded-001",
      "name": "Delete Redis (Quota Exceeded)"
    },
    {
      "parameters": {
        "command": "redis-cli XREADGROUP GROUP ocr_consumer_group worker-1 COUNT 1 BLOCK 5000 STREAMS ocr_stream \">\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1872,
        -224
      ],
      "id": "f9b9663c-5d80-4550-915b-90199fdf7709",
      "name": "Read Redis Stream",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.raw_stdout;\n\n// stdout을 라인 단위로 분리\nconst lines = raw.split(\"\\n\").map(l => l.trim()).filter(l => l);\n\n// key-value 파싱\nlet data = {};\nfor (let i = 2; i < lines.length; i += 2) {\n  const key = lines[i];\n  const value = lines[i + 1];\n  if (key && value) {\n    data[key] = value;\n  }\n}\n\n// message_id 따로 추출\ndata[\"message_id\"] = lines[1] || \"\";\n\n// JSON 객체 반환\nreturn [ data ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -224
      ],
      "id": "b6e7cd9a-1d17-40c1-ba94-e6978840cbd1",
      "name": "Parse Stream Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4792f95-f038-4b24-b00d-fdf5fa6afd59",
              "name": "raw_stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -224
      ],
      "id": "6c4538de-7141-463f-8ba3-d7a8f2502965",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2096,
        -224
      ],
      "id": "0569ec64-6951-4954-b162-0fe27c85e68f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8531a96f-3983-4fd7-9033-2d4fa7122020",
              "leftValue": "={{ $json.stdout.trim().length }}\n\n",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        -224
      ],
      "id": "a296b410-5c2b-4610-baca-15fa36ee2f71",
      "name": "Redis Message Empty?"
    },
    {
      "parameters": {
        "command": "=redis-cli XACK ocr_stream ocr_consumer_group {{ $('Pasre').item.json.message_id }} && \\\nredis-cli XDEL ocr_stream {{ $('Pasre').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        816,
        -128
      ],
      "id": "ba0b6a42-f32d-4403-9ca3-d9b0d53e0363",
      "name": "Delete Redis Stream Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9374e668-976e-4279-bdd1-0fa52ba27a42",
              "name": "ocr.status",
              "value": "running",
              "type": "string"
            },
            {
              "id": "1bae5a04-9bc2-491d-b045-45be118b3c60",
              "name": "ocr.queued_at",
              "value": "={{ $('Pasre').item.json.queued_at }}",
              "type": "string"
            },
            {
              "id": "afa13483-2b5d-464a-a9c1-3ae393f6e178",
              "name": "ocr.started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "d0289889-1899-4a15-86b9-0de18061004c",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -224
      ],
      "id": "5f4975b4-baf1-4193-bc2b-bdb04e29a5ba",
      "name": "Set OCR Running"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -304,
        -320
      ],
      "id": "b05f1e2e-5ac1-480a-9482-d0f204733d13",
      "name": "Update OCR Running",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62459dc-d875-4578-8cf5-b788cc86111e",
              "name": "ocr.status",
              "value": "done",
              "type": "string"
            },
            {
              "id": "e710da67-faba-41be-861d-b17251346ace",
              "name": "ocr.queued_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.queued_at }}",
              "type": "string"
            },
            {
              "id": "f32688ec-3416-4b34-9236-e3789f460660",
              "name": "ocr.started_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.started_at }}",
              "type": "string"
            },
            {
              "id": "88e44d3b-517d-44bf-bd1a-28218737a30e",
              "name": "ocr.done_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "b38f46a9-101d-4a30-9c2c-eaaa3160256b",
              "name": "ocr.confidence",
              "value": "={{ $json.body.confidence }}",
              "type": "string"
            },
            {
              "id": "f85a9d33-1ccf-4b91-9a3a-16a200de7ef5",
              "name": "ocr.full_text",
              "value": "={{ $json.body.full_text }}",
              "type": "string"
            },
            {
              "id": "930325d3-06c0-47be-a29c-34b87e4db4df",
              "name": "ocr.summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
              "name": "ocr.tags",
              "value": "={{ $json.body.tags }}",
              "type": "array"
            },
            {
              "id": "4bfd1590-ed9d-4055-a4a6-cfcf1de07c60",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            },
            {
              "id": "ocr-page-count-field-001",
              "name": "ocr.page_count",
              "value": "={{ $json.body.num_pages ?? 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -32
      ],
      "id": "6816071e-7513-4809-b93c-9f04e64e6247",
      "name": "OCR Done"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        592,
        -32
      ],
      "id": "b71c7253-ee53-4bb7-956b-2469cc58a073",
      "name": "Update OCR Done in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08d14b73-8e27-4320-98e9-edce7160b32e",
              "name": "ocr.status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "bbbc3730-ea1a-45c2-8596-3fa36218dd7a",
              "name": "ocr.queued_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.queued_at }}",
              "type": "string"
            },
            {
              "id": "91a0d0fd-93e3-4b97-b837-1e1fea63214e",
              "name": "ocr.started_at",
              "value": "={{ $('Set OCR Running').item.json.ocr.started_at }}",
              "type": "string"
            },
            {
              "id": "39303d0e-c253-40aa-8860-3a378d6cb60c",
              "name": "ocr.failed_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "30c7ccf1-90e9-4f3c-84fd-bdfb4abc9445",
              "name": "ocr.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "2d14fb94-e3db-4899-a60f-89af22c65370",
              "name": "ocr.statusMessage",
              "value": "={{ $json.body.statusMessage }}",
              "type": "string"
            },
            {
              "id": "59061a2a-e47d-4c7e-959b-70ca9a76a9d4",
              "name": "ocr.errorBody",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "78b4709e-e01a-4592-8b8b-075845dff34e",
              "name": "_id",
              "value": "={{ $('Pasre').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -224
      ],
      "id": "dfd17662-7131-40e1-bfc9-a232bb874b67",
      "name": "Set OCR Error Message"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "=_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        368,
        -224
      ],
      "id": "78d9409f-8a13-42cc-bd0e-eefda71ae14f",
      "name": "Update OCR Error in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3010/api/webhooks/document-processing-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aims_n8n_webhook_secure_key_2025_v1_a7f3e9d2c1b8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"document_id\": $('Pasre').item.json.doc_id, \"status\": \"completed\", \"owner_id\": $('Pasre').item.json.owner_id } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -32
      ],
      "id": "notify-processing-complete-001",
      "name": "Notify Processing Complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3010/api/webhooks/document-processing-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aims_n8n_webhook_secure_key_2025_v1_a7f3e9d2c1b8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"document_id\": $('Pasre').item.json.doc_id, \"status\": \"error\", \"owner_id\": $('Pasre').item.json.owner_id } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -320
      ],
      "id": "notify-processing-error-001",
      "name": "Notify Processing Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aims.giize.com/api/internal/ocr/log-usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"file_id\": $('Pasre').item.json.doc_id, \"owner_id\": $('Pasre').item.json.owner_id, \"page_count\": $('OCR Done').item.json.ocr.page_count ?? 1, \"status\": \"done\", \"processed_at\": $now.toISO() } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -32
      ],
      "id": "log-ocr-usage-success-001",
      "name": "Log OCR Usage (Success)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aims.giize.com/api/internal/ocr/log-usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"file_id\": $('Pasre').item.json.doc_id, \"owner_id\": $('Pasre').item.json.owner_id, \"page_count\": 0, \"status\": \"error\", \"processed_at\": $now.toISO(), \"error_code\": $('Set OCR Error Message').item.json.ocr.statusCode, \"error_message\": $('Set OCR Error Message').item.json.ocr.statusMessage } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -320
      ],
      "id": "log-ocr-usage-error-001",
      "name": "Log OCR Usage (Error)"
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare OCR Binary": {
      "main": [
        [
          {
            "node": "Set OCR Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocOCR Request": {
      "main": [
        [
          {
            "node": "Is OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR Error?": {
      "main": [
        [
          {
            "node": "Set OCR Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Redis Stream": {
      "main": [
        [
          {
            "node": "Redis Message Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stream Message": {
      "main": [
        [
          {
            "node": "Pasre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Parse Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Redis Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Message Empty?": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasre": {
      "main": [
        [
          {
            "node": "Get Page Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Count": {
      "main": [
        [
          {
            "node": "Parse Page Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Page Count": {
      "main": [
        [
          {
            "node": "Check OCR Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OCR Quota": {
      "main": [
        [
          {
            "node": "Is Quota Exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Quota Exceeded?": {
      "main": [
        [
          {
            "node": "Set Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OCR Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Quota Exceeded": {
      "main": [
        [
          {
            "node": "Update Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quota Exceeded": {
      "main": [
        [
          {
            "node": "Notify Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Quota Exceeded": {
      "main": [
        [
          {
            "node": "Delete Redis (Quota Exceeded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Final OCR Failure": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Running": {
      "main": [
        [
          {
            "node": "Update OCR Running",
            "type": "main",
            "index": 0
          },
          {
            "node": "DocOCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Done": {
      "main": [
        [
          {
            "node": "Update OCR Done in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Done in MongoDB": {
      "main": [
        [
          {
            "node": "Log OCR Usage (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log OCR Usage (Success)": {
      "main": [
        [
          {
            "node": "Notify Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Processing Complete": {
      "main": [
        [
          {
            "node": "Delete Redis Stream Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Error Message": {
      "main": [
        [
          {
            "node": "Update OCR Error in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Error in MongoDB": {
      "main": [
        [
          {
            "node": "Log OCR Usage (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log OCR Usage (Error)": {
      "main": [
        [
          {
            "node": "Notify Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Processing Error": {
      "main": [
        [
          {
            "node": "Log Final OCR Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "30bc1a7a-9b72-40b4-bd5a-0173bbb0712b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "sd77rWDAywE7D6k0",
  "tags": []
}