backend/n8n_flows/modules/SmartSearch.json
{
  "name": "SmartSearch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartsearch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        64
      ],
      "id": "3110280a-d391-4134-aa17-70161b318d93",
      "name": "SmartSearch Webhook",
      "webhookId": "4c1d0839-8a20-40ea-bfd1-5575c65fa171"
    },
    {
      "parameters": {
        "collection": "files",
        "options": {},
        "query": "={{ $json[\"mongoQuery\"] }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -96,
        64
      ],
      "id": "7eee8a8c-64c2-4f53-abb8-25e5145a023c",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        160
      ],
      "id": "6e019b6c-ad64-4457-9cd1-e696f6781c02",
      "name": "Respond with Search Results"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.body.query || '';\nconst id = $json.body.id || '';\nconst mode = ($json.body.mode || 'OR').toUpperCase();\n\nlet finalQuery = {};\nlet isIdSearch = false; // ID 검색 여부를 판단하는 플래그\n\n// 1. ID가 존재하는 경우\nif (id) {\n  // ID 검색 쿼리 객체 생성\n  // MongoDB Extended JSON 형식의 \"$oid\"를 사용\n  finalQuery = { _id: { \"$oid\": id } };\n  isIdSearch = true;\n} \n// 2. ID가 없고 키워드가 존재하는 경우 (기존 로직)\nelse if (query.trim().length > 0) {\n  const keywords = query\n    .split(' ')\n    .map(k => k.trim())\n    .filter(k => k.length > 0);\n\n  const fields = [\n    'originalName',\n    'ocr.full_text',\n    'ocr.summary',\n    'meta.filename',\n    'meta.full_text',\n    'text.full_text'\n  ];\n\n  const buildSingleKeywordQuery = (keyword) =>\n    fields.map(field => ({ [field]: { $regex: keyword, $options: 'i' } }));\n\n  if (mode === 'AND') {\n    finalQuery = {\n      $and: keywords.map(kw => ({ $or: buildSingleKeywordQuery(kw) }))\n    };\n  } else {\n    finalQuery = {\n      $or: keywords.flatMap(kw => buildSingleKeywordQuery(kw))\n    };\n  }\n}\n// 3. ID도 없고 키워드도 없는 경우\nelse {\n  return [{ json: {} }];\n}\n\n\n// 다음 노드로 쿼리와 플래그를 함께 전달\nreturn [{\n  json: {\n    query: finalQuery,\n    isIdSearch: isIdSearch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        64
      ],
      "id": "e622ab04-9e7a-43bb-a130-1a1d44941ecf",
      "name": "Build Mongo Query"
    },
    {
      "parameters": {
        "jsCode": "// Stringify Mongo Query 노드 수정 코드\nconst input = $json;\nconst mongoQuery = input.query;\nconst isIdSearch = input.isIdSearch;\n\nlet outputJson;\n\nif (isIdSearch) {\n  // ID 검색일 경우, _id 필드만 남기고 JSON 객체로 반환\n  outputJson = {\n    _id: mongoQuery._id[\"$oid\"]\n  };\n} else {\n  // 키워드 검색일 경우, 쿼리 객체 그대로 반환\n  outputJson = mongoQuery;\n}\n\nreturn [\n  {\n    json: {\n      mongoQuery: JSON.stringify(outputJson)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        64
      ],
      "id": "67c97b11-8ace-4a4e-ae5c-b638cfd9d640",
      "name": "Stringify Mongo Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb7c11da-cd77-4ce6-84c1-6d2f2a333855",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        64
      ],
      "id": "49535115-74aa-4945-9405-a6302a208fcf",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -32
      ],
      "id": "46af4190-15b4-4f25-9f21-9d793f07b2b9",
      "name": "Empty Result Response"
    }
  ],
  "pinData": {},
  "connections": {
    "SmartSearch Webhook": {
      "main": [
        [
          {
            "node": "Build Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query": {
      "main": [
        [
          {
            "node": "Stringify Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify Mongo Query": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Empty Result Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "faf96796-1856-4b19-9ba8-a34bf4527977",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "K0OGIAMKdV6UcAwT",
  "tags": []
}