backend/n8n_flows/modules/SmartSearch.json
{
  "name": "SmartSearch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartsearch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        -48
      ],
      "id": "3dc7703e-b7ad-443d-b9ed-2ae6b11eac08",
      "name": "SmartSearch Webhook",
      "webhookId": "4c1d0839-8a20-40ea-bfd1-5575c65fa171"
    },
    {
      "parameters": {
        "collection": "files",
        "options": {},
        "query": "={{ $json[\"mongoQuery\"] }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -784,
        -48
      ],
      "id": "4af8d88a-1d40-43a6-b06a-268a08b9aa2a",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -336,
        48
      ],
      "id": "e33cd579-bb30-4e9d-806a-fae4f707dc08",
      "name": "Respond with Search Results"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.body.query || '';\nconst id = $json.body.id || '';\nconst mode = ($json.body.mode || 'OR').toUpperCase();\nconst userId = $json.body.user_id || 'tester';\nconst customerId = $json.body.customer_id || ''; // ✅ 추가: 고객 ID 입력값\n\nlet finalQuery = {};\nlet isIdSearch = false; // ID 검색 여부를 판단하는 플래그\n\n// 1. ID가 존재하는 경우\nif (id) {\n  // ID 검색 쿼리 객체 생성\n  // MongoDB Extended JSON 형식의 \"$oid\"를 사용\n  finalQuery = {\n    $and: [\n      { ownerId: userId },\n      { _id: { \"$oid\": id } },\n      ...(customerId ? [{ customerId: { \"$oid\": customerId } }] : []) // ✅ customerId 필드 사용\n    ]\n  };\n  isIdSearch = true;\n} \n// 2. ID가 없고 키워드가 존재하는 경우 (기존 로직)\nelse if (query.trim().length > 0) {\n  const keywords = query\n    .split(' ')\n    .map(k => k.trim())\n    .filter(k => k.length > 0);\n\n  const fields = [\n    'upload.originalName',\n    'ocr.full_text',\n    'ocr.summary',\n    'ocr.tags',\n    'meta.filename',\n    'meta.full_text',\n    'meta.summary',\n    'meta.tags',\n    'text.full_text',\n    'customer_relation.notes'\n  ];\n\n  const buildSingleKeywordQuery = (keyword) =>\n    fields.map(field => ({ [field]: { $regex: keyword, $options: 'i' } }));\n\n  if (mode === 'AND') {\n    finalQuery = {\n      $and: [\n        { ownerId: userId },\n        ...(customerId ? [{ customerId: { \"$oid\": customerId } }] : []), // ✅ customerId 필드 사용\n        ...keywords.map(kw => ({ $or: buildSingleKeywordQuery(kw) }))\n      ]\n    };\n  } else {\n    finalQuery = {\n      $and: [\n        { ownerId: userId },\n        ...(customerId ? [{ customerId: { \"$oid\": customerId } }] : []), // ✅ customerId 필드 사용\n        { $or: keywords.flatMap(kw => buildSingleKeywordQuery(kw)) }\n      ]\n    };\n  }\n}\n// 3. ID도 없고 키워드도 없는 경우\nelse {\n  return [{ json: {} }];\n}\n\n\n// 다음 노드로 쿼리와 플래그를 함께 전달\nreturn [{\n  json: {\n    query: finalQuery,\n    isIdSearch: isIdSearch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -48
      ],
      "id": "10c2f9dc-e9a2-4f68-b41c-2badbe5710b5",
      "name": "Build Mongo Query"
    },
    {
      "parameters": {
        "jsCode": "// Stringify Mongo Query 노드 - ObjectId 변환 포함 최종 버전\nconst input = $json;\nconst mongoQuery = input.query;\nconst isIdSearch = input.isIdSearch;\n\nlet outputJson;\n\n// 1️⃣ ID 검색일 경우\nif (isIdSearch) {\n  outputJson = {\n    _id: mongoQuery._id[\"$oid\"] || mongoQuery._id\n  };\n}\n// 2️⃣ 키워드 검색일 경우\nelse {\n  outputJson = mongoQuery;\n}\n\n// 3️⃣ \"$oid\" 제거 (ObjectId → 순수 문자열)\nfunction cleanOid(obj) {\n  if (Array.isArray(obj)) return obj.map(cleanOid);\n  if (obj && typeof obj === \"object\") {\n    const newObj = {};\n    for (const [key, value] of Object.entries(obj)) {\n      if (key === \"$oid\") return value;\n      newObj[key] = cleanOid(value);\n    }\n    return newObj;\n  }\n  return obj;\n}\nconst cleaned = cleanOid(outputJson);\n\n// 4️⃣ ObjectId 변환 로직 주입 (customerId 필드 사용)\nif (cleaned.$and) {\n  cleaned.$and = cleaned.$and.map(cond => {\n    if (cond.customerId) {\n      return {\n        $expr: {\n          $eq: [\n            \"$customerId\",\n            { $toObjectId: cond.customerId }\n          ]\n        }\n      };\n    }\n    return cond;\n  });\n}\n\n// 5️⃣ JSON 문자열로 변환\nconst jsonStr = JSON.stringify(cleaned);\n\n// 6️⃣ 결과 반환\nreturn [\n  {\n    json: {\n      mongoQuery: jsonStr\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -48
      ],
      "id": "d543bdfd-c920-4b65-a82b-20cd65fa73ed",
      "name": "Stringify Mongo Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb7c11da-cd77-4ce6-84c1-6d2f2a333855",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -48
      ],
      "id": "9d49135d-0d6c-49b5-a6a8-617c4673c6e6",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -336,
        -144
      ],
      "id": "9cc93e4d-065b-40a8-abed-b0d1169a3601",
      "name": "Empty Result Response"
    }
  ],
  "connections": {
    "SmartSearch Webhook": {
      "main": [
        [
          {
            "node": "Build Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query": {
      "main": [
        [
          {
            "node": "Stringify Mongo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify Mongo Query": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Empty Result Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  }
}
