backend/n8n_flows/tests/Upstage Test.json
{
  "name": "Upstage Test",
  "nodes": [
    {
      "parameters": {},
      "id": "ff451cae-3c0a-4447-bd24-68de25543531",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -140
      ]
    },
    {
      "parameters": {
        "filePath": "/data/rossi/aims/samples/image/jpeg/캐치업자동차견적.jpg"
      },
      "id": "b7ed1ab1-91cb-4343-82f6-5879a0940755",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -560,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-digitization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_CuatSnZ5jDDHsJNPLByxijBXdmw0A"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        -140
      ],
      "id": "583efb62-4e11-4950-8b3e-b42c115198dc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=신뢰도를 % 로 표시해줘 신뢰도는 {{ $json.confidence }} 이 값을 백분율로 환산하고 \n중요한 내용을 위주로 요약해줘"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -140
      ],
      "id": "fc234cbb-a920-41b1-9425-02c0e8b40a20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        60
      ],
      "id": "7f550369-811a-41ca-8ce2-c8ea21876484",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T3sQKJvrbzgpZfuT",
          "name": "OpenAi account - lecture용"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08873f56-870a-4c95-994b-98bcd5f2374f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0cc9a936009f7da06be7c1a1d682098212b5d24a0a2d110ca430428308720e"
  },
  "id": "2gtJtz3eGMT5KOSC",
  "tags": []
}