backend/n8n_flows/DocPrepMain.json
{
  "name": "DocPrepMain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docprep-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2400,
        -144
      ],
      "id": "4662742c-1a85-43aa-86ba-122e58e6e08f",
      "name": "DocPrepMain Webhook",
      "webhookId": "3be242b1-3628-4384-b151-cc43d91e3147"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docupload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "source_path",
              "value": "={{ $json.body.source_path || \"\"}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2176,
        -144
      ],
      "id": "dc2fe9b8-67bc-440c-9efd-3d381178e4f0",
      "name": "DocUpload Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docmeta",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $json.upload.destPath }}\",\n  \"saved_name\": \"{{ $json.upload.saveName }}\",\n  \"original\": \"{{ $json.upload.originalName }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -144
      ],
      "id": "a7fa97f5-5719-4203-91e0-8d8383ac545b",
      "name": "DocMeta Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29e689da-0683-4e2e-8788-74032426969d",
              "name": "meta.filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "b3675d60-abef-4dde-9cf8-50ead21407de",
              "name": "meta.extension",
              "value": "={{ $json.body.extension }}",
              "type": "string"
            },
            {
              "id": "8a8113b2-1a64-49ce-8f67-911655a446e6",
              "name": "meta.mime",
              "value": "={{ $json.body.mime }}",
              "type": "string"
            },
            {
              "id": "9a3a28d5-f06f-4871-885b-a002367297d8",
              "name": "meta.size_bytes",
              "value": "={{ $json.body.size_bytes }}",
              "type": "string"
            },
            {
              "id": "9d33c43b-151f-4408-80e8-26364fa5b9fc",
              "name": "meta.created_at",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "4cfcb8ac-d7db-44dd-add7-fafe85117096",
              "name": "meta.meta_status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "2436d2d6-635a-4937-bd11-4d569bd67697",
              "name": "meta.exif",
              "value": "={{ $json.body.exif }}",
              "type": "string"
            },
            {
              "id": "70772422-62bf-49ad-9f6d-065f1e1937e3",
              "name": "meta.pdf_pages",
              "value": "={{ $json.body.pdf_pages }}",
              "type": "string"
            },
            {
              "id": "121a1754-f28c-4f0e-b9ab-d7f0af5acb34",
              "name": "meta.full_text",
              "value": "={{ $json.body.extracted_text }}",
              "type": "string"
            },
            {
              "id": "b665281c-3eab-45ae-94c1-eaf8658df2d2",
              "name": "meta.pdf_text_ratio",
              "value": "={{ $json.body.pdf_text_ratio }}",
              "type": "string"
            },
            {
              "id": "1b3b9c59-c87f-4309-aeeb-888753b899ad",
              "name": "meta.summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "4894fbbb-933d-498d-84c8-c5fb9857dd94",
              "name": "meta.length",
              "value": "={{ $json.body.length }}",
              "type": "number"
            },
            {
              "id": "e0ad1cbc-8351-4689-bfcf-371f644ef56d",
              "name": "meta.truncated",
              "value": "={{ $json.body.truncated }}",
              "type": "boolean"
            },
            {
              "id": "9f8e7d6c-5b4a-3210-fedc-ba9876543210",
              "name": "meta.tags",
              "value": "={{ $json.body.tags }}",
              "type": "array"
            },
            {
              "id": "f1e2d3c4-b5a6-7890-f1e2-d3c4b5a67890",
              "name": "meta.file_hash",
              "value": "={{ $json.body.file_hash }}",
              "type": "string"
            },
            {
              "id": "dbc183dd-ac7c-4628-b2a2-38b4a0e5ed5f",
              "name": "_id",
              "value": "={{ $('Save File Info').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -96
      ],
      "id": "0770ea9b-8239-4690-9bda-9950b111a6bb",
      "name": "Merge DocMeta for Update"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -384,
        -32
      ],
      "id": "07e53565-15cd-43b7-941f-75f5bd7bb8e1",
      "name": "Update Meta in MongoDB",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ocr\": {\n    \"status\":\"{{ $('Set Queue for OCR').item.json.ocr.status }}\",\n    \"queued_at\":\"{{ $('Set Queue for OCR').item.json.ocr.queued_at }}\"\n  }\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        80
      ],
      "id": "32dc4f43-d604-4861-851e-9839a2967bc9",
      "name": "Respond to DocPrepMain Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a53243ec-ecd3-4383-ad73-6ecd207c86d3",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "=application/postscript",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f79bd3a4-60a8-48d0-81d0-fcf32e795c8a",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/zip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cf903bfe-13b8-4317-a3c4-fbe8177a9076",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/octet-stream",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        80
      ],
      "id": "4e2d6a8d-2011-4796-9e8e-c727b6a2902d",
      "name": "Unsupported MIME Type?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d9e79700-4b9e-4fbb-a930-598766a68225",
              "name": "status",
              "value": 415,
              "type": "number"
            },
            {
              "id": "3fd5e282-9538-414b-aa71-4a1f29133dbc",
              "name": "userMessage",
              "value": "❌ OCR 생략: 지원하지 않는 문서 형식입니다.",
              "type": "string"
            },
            {
              "id": "2f4218c2-6348-49c2-9d47-332b2bcd0ac3",
              "name": "mime",
              "value": "={{ $json.meta.mime }}",
              "type": "string"
            },
            {
              "id": "b5391c79-218e-4297-a52f-02a37363e3f0",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            },
            {
              "id": "f95fca2b-52be-450e-8d3e-56ed45b4729b",
              "name": "ocr.warn",
              "value": "Skipped OCR due to unsupported MIME type",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -128
      ],
      "id": "32e392dd-d181-44e2-b0f3-fe12f518b695",
      "name": "Set Unsupported MIME Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] {{ $json.ocr.warn }}: {{$json.filename}} ({{$json.mime}})\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        752,
        -128
      ],
      "id": "494dc282-aaca-45e0-9d27-6aae65272f4c",
      "name": "Log Unsupported MIME Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 415
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        -128
      ],
      "id": "e415d020-bde5-425c-9522-4d5c3d4321af",
      "name": "Respond Unsupported MIME Warning"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        528,
        -128
      ],
      "id": "c0b2af41-b960-4584-bed0-6ded4ee5a58c",
      "name": "Update Unsupported MIME Warning in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "=redis-cli XADD ocr_stream \"*\" \\\n  file_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  file_path \"{{ $('DocUpload Request').item.json.body.path }}\" \\\n  doc_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  queued_at \"{{ $json.queued_at }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        752,
        80
      ],
      "id": "c4554fb0-5b75-4b16-ac89-d6cf21119189",
      "name": "Enqueue OCR Request (Redis XADD)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97168b8b-81f6-40f5-bd26-d920e38e0756",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "text/plain",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -32
      ],
      "id": "31dbed0a-681f-4751-91b7-0a6bcb7f231e",
      "name": "text/plain?"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('DocUpload Request').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        80,
        -320
      ],
      "id": "f872f89d-72ca-4903-a6a0-db75f02d70e8",
      "name": "Read Plain/Text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc431eb0-3de3-48d1-a5ee-adf95fe9b654",
              "name": "text.full_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3de6de1c-013d-45c2-8652-23a9432155a3",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -320
      ],
      "id": "ed831d45-81cd-473d-b404-1ebb802bed3b",
      "name": "Set Text"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        304,
        -320
      ],
      "id": "f2f6545f-3b47-40e2-a38e-cda118c11c52",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        752,
        -320
      ],
      "id": "922b8aa1-c503-419b-b1eb-56e98fceccb3",
      "name": "Update Text in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"exitCode\":0,\n  \"stderr\":\"\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        -320
      ],
      "id": "436270fb-acbe-44dd-bd0c-d511f89866e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "={{ $json._id }}",
        "fields": "ocr",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1200,
        80
      ],
      "id": "fcf9717c-72a9-43c2-93a3-3cf626c0d8a6",
      "name": "Update OCR Queue in MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e2c218b-d876-4183-9ede-1fffe81f78d9",
              "name": "ocr.status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "a5412c65-91cd-4bd0-972a-eecac4b47487",
              "name": "ocr.queued_at",
              "value": "={{ $('Queue Time Stamp').item.json.queued_at }}",
              "type": "string"
            },
            {
              "id": "5aff779a-1dad-499f-9e00-34bdf53f74df",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        80
      ],
      "id": "bc5c6737-a9ed-42cf-9716-3d106196db65",
      "name": "Set Queue for OCR"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=error",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -608,
        -320
      ],
      "id": "d1c34967-19f0-4589-a1d3-79acd50feaf2",
      "name": "Insert Error Message in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -384,
        -320
      ],
      "id": "749cc4fa-66a6-48bd-ac54-a22ce86d35dd",
      "name": "Upload Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e46584dd-32a4-4919-bc3a-158517378d42",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        -144
      ],
      "id": "65f14b1f-b886-4d27-8642-e7b152045ec3",
      "name": "DocUpload Failed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c3bd1a0-e26b-4886-8147-8018a25b6c4b",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -144
      ],
      "id": "b301d6ac-345f-4b05-be24-253cff19fac8",
      "name": "DocMeta Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "error.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "error.statusMessage",
              "value": "={{ $json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "984ddb0c-b9ea-4ee3-84f8-d258a49a11bc",
              "name": "error.body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -320
      ],
      "id": "04432609-97b7-433d-9d95-924fbf8f228a",
      "name": "Set Error Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fdd4a23-d873-4efc-b11a-511d9bfeb80f",
              "name": "queued_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        80
      ],
      "id": "5615b605-a3f5-41ee-a459-4df5a2bde22c",
      "name": "Queue Time Stamp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bab8c50-d883-465a-b08d-ce59c2de8ad8",
              "leftValue": "={{$json.meta.full_text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        176
      ],
      "id": "4031ed8a-b1c6-4610-a565-6d039756edcd",
      "name": "empty full_text?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        272
      ],
      "id": "eeb94633-eefd-4318-b076-efa9931d0e71",
      "name": "Respond Done"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=upload",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1504,
        -80
      ],
      "id": "71db4f2e-aaea-4887-910b-43ecbec93794",
      "name": "Save File Info",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "898e43ac-5e25-426f-acb0-42d3f3ee515d",
              "name": "=upload.originalName",
              "value": "={{ $json.body.original }}",
              "type": "string"
            },
            {
              "id": "fdb8c3db-ef68-4d2a-aecb-2182b174d95a",
              "name": "upload.saveName",
              "value": "={{ $json.body.saved_name }}",
              "type": "string"
            },
            {
              "id": "eae64e30-603d-47a4-aed8-299b9e3bdc9f",
              "name": "upload.destPath",
              "value": "={{ $json.body.path }}",
              "type": "string"
            },
            {
              "id": "88a07c8b-7ce0-461c-9f89-c3a3746fe405",
              "name": "upload.uploaded_at",
              "value": "={{ $now.format('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSxxx') }}",
              "type": "string"
            },
            {
              "id": "84520425-5b99-4efc-abb4-d8394feb6852",
              "name": "upload.sourcePath",
              "value": "={{ $json.body.sourcePath }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        -80
      ],
      "id": "ce0034a2-b104-4395-a08c-cde081d60ee1",
      "name": "Upload File Info"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        -32
      ],
      "id": "262d6292-004d-42f2-8dad-945a2e53abb8",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "DocPrepMain Webhook": {
      "main": [
        [
          {
            "node": "DocUpload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Request": {
      "main": [
        [
          {
            "node": "DocUpload Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Request": {
      "main": [
        [
          {
            "node": "DocMeta Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DocMeta for Update": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meta in MongoDB": {
      "main": [
        [
          {
            "node": "text/plain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported MIME Type?": {
      "main": [
        [
          {
            "node": "Set Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empty full_text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Update Unsupported MIME Warning in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Respond Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unsupported MIME Warning in MongoDB": {
      "main": [
        [
          {
            "node": "Log Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue OCR Request (Redis XADD)": {
      "main": [
        [
          {
            "node": "Set Queue for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text/plain?": {
      "main": [
        [
          {
            "node": "Read Plain/Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported MIME Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Plain/Text": {
      "main": [
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Update Text in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Text in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Queue in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to DocPrepMain Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queue for OCR": {
      "main": [
        [
          {
            "node": "Update OCR Queue in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Message in MongoDB": {
      "main": [
        [
          {
            "node": "Upload Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge DocMeta for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Insert Error Message in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Time Stamp": {
      "main": [
        [
          {
            "node": "Enqueue OCR Request (Redis XADD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empty full_text?": {
      "main": [
        [
          {
            "node": "Queue Time Stamp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File Info": {
      "main": [
        [
          {
            "node": "Save File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Info": {
      "main": [
        [
          {
            "node": "DocMeta Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Meta in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "7d0b0148-e9c3-4f74-a217-832b52f127c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "4J8PGGXFdPWtFaIH",
  "tags": []
}