backend/n8n_flows/DocPrepMain.json
{
  "name": "DocPrepMain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docprep-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2400,
        -136
      ],
      "id": "caa40519-0eb0-4897-b6fa-7beaaf961367",
      "name": "DocPrepMain Webhook",
      "webhookId": "3be242b1-3628-4384-b151-cc43d91e3147"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docupload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "source_path",
              "value": "={{ $json.body.source_path || \"\"}}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "customerId",
              "value": "={{ $json.body.customerId || \"\" }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2176,
        -280
      ],
      "id": "77d55024-a213-4531-8c7c-db4a9ed076c7",
      "name": "DocUpload Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nd.giize.com/webhook/docmeta",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $json.upload.destPath }}\",\n  \"saved_name\": \"{{ $json.upload.saveName }}\",\n  \"original\": \"{{ $json.upload.originalName }}\",\n  \"owner_id\": \"{{ $('Save OwnerId').item.json.ownerId }}\",\n  \"document_id\": \"{{ $('Save OwnerId').item.json._id }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        -136
      ],
      "id": "69e94767-11e4-494f-8422-ba36d18279b7",
      "name": "DocMeta Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29e689da-0683-4e2e-8788-74032426969d",
              "name": "meta.filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "b3675d60-abef-4dde-9cf8-50ead21407de",
              "name": "meta.extension",
              "value": "={{ $json.body.extension }}",
              "type": "string"
            },
            {
              "id": "8a8113b2-1a64-49ce-8f67-911655a446e6",
              "name": "meta.mime",
              "value": "={{ $json.body.mime }}",
              "type": "string"
            },
            {
              "id": "9a3a28d5-f06f-4871-885b-a002367297d8",
              "name": "meta.size_bytes",
              "value": "={{ $json.body.size_bytes }}",
              "type": "string"
            },
            {
              "id": "9d33c43b-151f-4408-80e8-26364fa5b9fc",
              "name": "meta.created_at",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "4cfcb8ac-d7db-44dd-add7-fafe85117096",
              "name": "meta.meta_status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "2436d2d6-635a-4937-bd11-4d569bd67697",
              "name": "meta.exif",
              "value": "={{ $json.body.exif }}",
              "type": "string"
            },
            {
              "id": "70772422-62bf-49ad-9f6d-065f1e1937e3",
              "name": "meta.pdf_pages",
              "value": "={{ $json.body.pdf_pages }}",
              "type": "string"
            },
            {
              "id": "121a1754-f28c-4f0e-b9ab-d7f0af5acb34",
              "name": "meta.full_text",
              "value": "={{ $json.body.extracted_text }}",
              "type": "string"
            },
            {
              "id": "b665281c-3eab-45ae-94c1-eaf8658df2d2",
              "name": "meta.pdf_text_ratio",
              "value": "={{ $json.body.pdf_text_ratio }}",
              "type": "string"
            },
            {
              "id": "1b3b9c59-c87f-4309-aeeb-888753b899ad",
              "name": "meta.summary",
              "value": "={{ $json.body.summary }}",
              "type": "string"
            },
            {
              "id": "4894fbbb-933d-498d-84c8-c5fb9857dd94",
              "name": "meta.length",
              "value": "={{ $json.body.length }}",
              "type": "number"
            },
            {
              "id": "e0ad1cbc-8351-4689-bfcf-371f644ef56d",
              "name": "meta.truncated",
              "value": "={{ $json.body.truncated }}",
              "type": "boolean"
            },
            {
              "id": "9f8e7d6c-5b4a-3210-fedc-ba9876543210",
              "name": "meta.tags",
              "value": "={{ $json.body.tags }}",
              "type": "array"
            },
            {
              "id": "f1e2d3c4-b5a6-7890-f1e2-d3c4b5a67890",
              "name": "meta.file_hash",
              "value": "={{ $json.body.file_hash }}",
              "type": "string"
            },
            {
              "id": "dbc183dd-ac7c-4628-b2a2-38b4a0e5ed5f",
              "name": "_id",
              "value": "={{ $('Merge1').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -88
      ],
      "id": "a2f9a8bc-52cb-4032-943c-6f7ae7d1d498",
      "name": "Merge DocMeta for Update"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -160,
        -16
      ],
      "id": "022a43f1-5672-40ac-806e-a684ae5691e3",
      "name": "Update Meta in MongoDB",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ocr\": {\n    \"status\":\"{{ $('Set Queue for OCR').item.json.ocr.status }}\",\n    \"queued_at\":\"{{ $('Set Queue for OCR').item.json.ocr.queued_at }}\"\n  }\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        80
      ],
      "id": "bfba0622-91db-4c82-957a-7f48e8afccd8",
      "name": "Respond to DocPrepMain Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a53243ec-ecd3-4383-ad73-6ecd207c86d3",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "=application/postscript",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f79bd3a4-60a8-48d0-81d0-fcf32e795c8a",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/zip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cf903bfe-13b8-4317-a3c4-fbe8177a9076",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "application/octet-stream",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        80
      ],
      "id": "8483ab20-0730-438a-a225-4d2ff6e3252d",
      "name": "Unsupported MIME Type?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "warn",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d9e79700-4b9e-4fbb-a930-598766a68225",
              "name": "status",
              "value": 415,
              "type": "number"
            },
            {
              "id": "3fd5e282-9538-414b-aa71-4a1f29133dbc",
              "name": "userMessage",
              "value": "❌ OCR 생략: 지원하지 않는 문서 형식입니다.",
              "type": "string"
            },
            {
              "id": "2f4218c2-6348-49c2-9d47-332b2bcd0ac3",
              "name": "mime",
              "value": "={{ $json.meta.mime }}",
              "type": "string"
            },
            {
              "id": "b5391c79-218e-4297-a52f-02a37363e3f0",
              "name": "filename",
              "value": "={{ $json.meta.filename }}",
              "type": "string"
            },
            {
              "id": "f95fca2b-52be-450e-8d3e-56ed45b4729b",
              "name": "ocr.warn",
              "value": "Skipped OCR due to unsupported MIME type",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -112
      ],
      "id": "72fabb62-dac9-462a-86f2-c9d6077a675e",
      "name": "Set Unsupported MIME Warning"
    },
    {
      "parameters": {
        "command": "=echo \"[OCR-WARN] {{ $json.ocr.warn }}: {{$json.filename}} ({{$json.mime}})\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        -112
      ],
      "id": "297c88ae-0833-45de-9bc0-cd350d1ec90d",
      "name": "Log Unsupported MIME Warning"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 415
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        -112
      ],
      "id": "5028a68a-ba8d-401c-9b4b-5933e70ef350",
      "name": "Respond Unsupported MIME Warning"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "=ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        736,
        -112
      ],
      "id": "3dccd6ea-ddc3-4cf5-9231-799d8c3aa475",
      "name": "Update Unsupported MIME Warning in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "=redis-cli XADD ocr_stream \"*\" \\\n  file_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  file_path \"{{ $('DocUpload Request').item.json.body.path }}\" \\\n  doc_id \"{{ $('Merge DocMeta for Update').item.json._id }}\" \\\n  owner_id \"{{ $('Save OwnerId').item.json.ownerId }}\" \\\n  queued_at \"{{ $json.queued_at }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "51b2467b-cd56-4721-a3d9-1583f03652d7",
      "name": "Enqueue OCR Request (Redis XADD)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97168b8b-81f6-40f5-bd26-d920e38e0756",
              "leftValue": "={{ $json.meta.mime }}",
              "rightValue": "text/plain",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -16
      ],
      "id": "dfb71882-a503-4891-a0a3-20bb8b93df28",
      "name": "text/plain?"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('DocUpload Request').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        288,
        -304
      ],
      "id": "b7d38525-5423-49ff-88ff-4919e1386bf8",
      "name": "Read Plain/Text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc431eb0-3de3-48d1-a5ee-adf95fe9b654",
              "name": "text.full_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3de6de1c-013d-45c2-8652-23a9432155a3",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -304
      ],
      "id": "0ddea665-cdc2-466e-9166-604cd2c151fa",
      "name": "Set Text"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        -304
      ],
      "id": "1c63ae25-636c-485a-9f2d-84b18c31fe63",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        960,
        -304
      ],
      "id": "2d1d6519-1f0c-405d-896d-2d28e76b2b91",
      "name": "Update Text in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"exitCode\":0,\n  \"stderr\":\"\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        -304
      ],
      "id": "11c3d1f4-ff31-4b4f-a27b-0256b7d387f0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "={{ $json._id }}",
        "fields": "ocr",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1408,
        80
      ],
      "id": "c409596a-a90e-4f4f-8da2-9906c8ef8e6b",
      "name": "Update OCR Queue in MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e2c218b-d876-4183-9ede-1fffe81f78d9",
              "name": "ocr.status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "a5412c65-91cd-4bd0-972a-eecac4b47487",
              "name": "ocr.queued_at",
              "value": "={{ $('Queue Time Stamp').item.json.queued_at }}",
              "type": "string"
            },
            {
              "id": "5aff779a-1dad-499f-9e00-34bdf53f74df",
              "name": "_id",
              "value": "={{ $('Merge DocMeta for Update').item.json._id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        80
      ],
      "id": "d3de1450-0ecd-4fc0-971e-f57a85dabb02",
      "name": "Set Queue for OCR"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "=error",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -384,
        -304
      ],
      "id": "20cf6bc8-9aa1-4355-9d82-2a2f36308fe0",
      "name": "Insert Error Message in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        -304
      ],
      "id": "8bf29fcd-5b4c-4ad3-ae10-d75aec991e09",
      "name": "Upload Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e46584dd-32a4-4919-bc3a-158517378d42",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        -280
      ],
      "id": "6dd6925e-ac09-4230-be04-29592373b1ac",
      "name": "DocUpload Failed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c3bd1a0-e26b-4886-8147-8018a25b6c4b",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        -136
      ],
      "id": "1dac6d3c-6e25-4e2f-aa87-7ea328ec7cf6",
      "name": "DocMeta Failed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f4cae4-3725-4159-9300-832e91861a9d",
              "name": "error.statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "string"
            },
            {
              "id": "07d60821-09c0-42a1-888e-31155fcc7687",
              "name": "error.statusMessage",
              "value": "={{ $json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "984ddb0c-b9ea-4ee3-84f8-d258a49a11bc",
              "name": "error.body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -304
      ],
      "id": "a2d25239-94f6-4da0-97df-4a3ab659f0ca",
      "name": "Set Error Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fdd4a23-d873-4efc-b11a-511d9bfeb80f",
              "name": "queued_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        80
      ],
      "id": "8c414b8a-aee7-44a9-885c-a487021d501a",
      "name": "Queue Time Stamp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bab8c50-d883-465a-b08d-ce59c2de8ad8",
              "leftValue": "={{$json.meta.full_text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        176
      ],
      "id": "fca85846-e942-4f3e-ae73-dbe95caf48d8",
      "name": "empty full_text?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        272
      ],
      "id": "7c275483-dc12-4507-8092-69f900e43376",
      "name": "Respond Done"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "files",
        "updateKey": "_id",
        "fields": "=upload",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -136
      ],
      "id": "974ef8f1-7911-400a-9606-a1206cef6039",
      "name": "Save File Info",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "898e43ac-5e25-426f-acb0-42d3f3ee515d",
              "name": "=upload.originalName",
              "value": "={{ $json.body.original }}",
              "type": "string"
            },
            {
              "id": "fdb8c3db-ef68-4d2a-aecb-2182b174d95a",
              "name": "upload.saveName",
              "value": "={{ $json.body.saved_name }}",
              "type": "string"
            },
            {
              "id": "eae64e30-603d-47a4-aed8-299b9e3bdc9f",
              "name": "upload.destPath",
              "value": "={{ $json.body.path }}",
              "type": "string"
            },
            {
              "id": "88a07c8b-7ce0-461c-9f89-c3a3746fe405",
              "name": "upload.uploaded_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "84520425-5b99-4efc-abb4-d8394feb6852",
              "name": "upload.sourcePath",
              "value": "={{ $json.body.sourcePath }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        -208
      ],
      "id": "979d72f4-d29f-49ba-984a-dcf2026eba25",
      "name": "Upload File Info"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        -16
      ],
      "id": "bccc6279-0ddb-4fdd-873c-e86bda7165d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88a07c8b-7ce0-461c-9f89-c3a3746fe405",
              "name": "ownerId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "customerId-assignment",
              "name": "customerId",
              "value": "={{ $json.body.customerId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        32
      ],
      "id": "62a5e822-c998-4fdd-a3a9-c0296098527a",
      "name": "Extract OwnerId"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "files",
        "fields": "ownerId,customerId",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1728,
        32
      ],
      "id": "fca66111-90ca-498e-8fbc-894036b9ba6e",
      "name": "Save OwnerId",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "RT7gatMve2ExTlAp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1504,
        -136
      ],
      "id": "1c616ed1-a312-4d2c-8538-7478c5bb8d1f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://aims.giize.com/api/customers/{{ $json.customerId }}/documents",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "aims_n8n_webhook_secure_key_2025_v1_a7f3e9d2c1b8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"document_id\": \"{{ $json._id }}\",\n  \"userId\": \"{{ $json.ownerId }}\",\n  \"notes\": \"\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1300,
        150
      ],
      "id": "connect-to-customer",
      "name": "Connect Document to Customer"
    }
  ],
  "pinData": {},
  "connections": {
    "DocPrepMain Webhook": {
      "main": [
        [
          {
            "node": "DocUpload Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract OwnerId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Request": {
      "main": [
        [
          {
            "node": "DocUpload Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Request": {
      "main": [
        [
          {
            "node": "DocMeta Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DocMeta for Update": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meta in MongoDB": {
      "main": [
        [
          {
            "node": "text/plain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported MIME Type?": {
      "main": [
        [
          {
            "node": "Set Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empty full_text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Update Unsupported MIME Warning in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unsupported MIME Warning": {
      "main": [
        [
          {
            "node": "Respond Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unsupported MIME Warning in MongoDB": {
      "main": [
        [
          {
            "node": "Log Unsupported MIME Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue OCR Request (Redis XADD)": {
      "main": [
        [
          {
            "node": "Set Queue for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text/plain?": {
      "main": [
        [
          {
            "node": "Read Plain/Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported MIME Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Plain/Text": {
      "main": [
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Update Text in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Text in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OCR Queue in MongoDB": {
      "main": [
        [
          {
            "node": "Respond to DocPrepMain Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queue for OCR": {
      "main": [
        [
          {
            "node": "Update OCR Queue in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Message in MongoDB": {
      "main": [
        [
          {
            "node": "Upload Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocUpload Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocMeta Failed?": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge DocMeta for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Insert Error Message in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Time Stamp": {
      "main": [
        [
          {
            "node": "Enqueue OCR Request (Redis XADD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empty full_text?": {
      "main": [
        [
          {
            "node": "Queue Time Stamp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File Info": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Info": {
      "main": [
        [
          {
            "node": "DocMeta Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Meta in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OwnerId": {
      "main": [
        [
          {
            "node": "Save OwnerId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save OwnerId": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Connect Document to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Save File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "pbOS7kBxmfv07Cb7",
    "timezone": "Asia/Seoul"
  },
  "versionId": "275c525a-5994-4f3e-8fef-ece1907d1aac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bef19803d9cc74827d34f20e7912edba5a94f10490a7ef90f1da29ab157dd9a"
  },
  "id": "4J8PGGXFdPWtFaIH",
  "tags": []
}